.mini-challenge-icon{
    .st0{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:$bgColor2;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill-rule:evenodd;clip-rule:evenodd;stroke:$bgColor2;stroke-miterlimit:10;}
    .st2{fill-rule:evenodd;clip-rule:evenodd;}
}

.drills-icon{
    .st0{fill:none;stroke:$bgColor2;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:$bgColor2;stroke-width:16;stroke-linecap:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:$bgColor2;stroke-width:10;stroke-linecap:round;stroke-miterlimit:10;}
    .st3{clip-path:url(#SVGID_2_);fill:none;stroke:$bgColor2;stroke-width:11;stroke-linecap:round;stroke-miterlimit:10;}
    .st4{clip-path:url(#SVGID_4_);fill:none;stroke:$bgColor2;stroke-width:11;stroke-linecap:round;stroke-miterlimit:10;}
}

.science-icon{
    .st0{fill:none;stroke:$bgColor2;stroke-width:2.676;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:$bgColor2;stroke-width:3.9248;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:$bgColor2;stroke-width:2.1408;stroke-miterlimit:10;}
    .st3{fill:none;stroke:$bgColor2;stroke-width:1.2488;stroke-miterlimit:10;}
}

.error-icon {
    .st0 {
        stroke: none;
        fill: none;
    }
}

.envelop-icon {
    stroke: $fontColor18;
    fill: none;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

.man-icon {
    .st0 {
        fill: none;
        stroke: $bgColor42;
        stroke-width: 5;
        stroke-miterlimit: 10;
    }
}

.circle-arrow-icon {
    .st0 {
        fill:$bgColor43;
    }
    .st1 {
        fill:$bgColor2;
    }
}

.complete-v-icon{
    .st0{fill:none;}
    .st1{fill: $bgColor40;}
    .st2{clip-path:url(#SVGID_2_);fill:$bgColor41;}
    .st3{fill:none;stroke:$bgColor2;stroke-width:11.9321;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.previous-icon{
    .st0{fill:none;enable-background:new;}
}

.writing-icon{

}


svg.clock-icon {
    .st0{fill:none;stroke:$fontColor4;stroke-width:10.5417;stroke-miterlimit:10;}
    .st1{fill:none;stroke:$fontColor4;stroke-width:12.3467;stroke-linecap:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:$fontColor4;stroke-width:11.8313;stroke-linecap:round;stroke-miterlimit:10;}
    .st3{fill:none;stroke:$fontColor4;stroke-width:22.9416;stroke-miterlimit:10;}
    .st4{fill:none;stroke:$fontColor4;stroke-width:14;stroke-linecap:round;stroke-miterlimit:10;}
    .st5{fill:none;stroke:$fontColor4;stroke-width:18;stroke-linejoin:round;stroke-miterlimit:10;}
}

.solution-icon {
    .st0{fill:none;stroke:#040404;stroke-width:2;stroke-miterlimit:10;}
    .st1{fill:#201E1E;}
    .st2{fill:#1D1B1B;}
    .st3{fill:#171616;}
    .st4{fill:#151414;}
    .st5{fill:#131211;}
    .st6{fill:#131212;}
    .st7{fill:#060505;}
    .st8{fill:#100F0F;}
    .st9{fill:#090909;}
}

.info-icon {
    cursor: pointer;
    width:15px;
}


// Purchase Pop-up icons
.close-popup {
    .st0{fill:none;}
    .st1{fill:none;stroke:$bgColor2;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
}

.purchase-popup-bullet-1-icon {
    .st0{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
}

.purchase-popup-bullet-2-icon {
    .st0{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.purchase-popup-bullet-3-icon {
    .st0{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
}

.purchase-popup-bullet-5-icon {
    .st0{fill:none;stroke:#231F20;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#231F20;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.full-screen-icon {
    .st0 {
        fill: none;
        enable-background: new;
    }
    .st1 {
        fill: none;
        stroke: #231F20;
        stroke-width: 5.9705;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
}

svg-icon.checkmark-circle-icon{
    width: 27px;
}

.completed-v-feedback-icon {
    .st0{fill:none;enable-background:new;}
    .st1{fill:#CACBCC;}
    .st2{display:none;fill:none;}
    .st3{fill:#D1D2D2;}
    .st4{fill:none;stroke:#FFFFFF;stroke-width:11.9321;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
