.app-performance {

    .score-estimate-container {
        background: $bgColor2;
        min-height: 900px;
        .subjects-wrap {
            .subject {
                cursor: pointer;
            }
        }
    }

    .performance-main-container {
        @include dimension(705px, auto);
        min-height: 900px;
        margin-left: 30px;
        background-color: $bgColor2;
        text-align: center;
        position: relative;
        .time-line-title{
            @include text-style(17px, $fcColor7, Quicksand, $boldFontWeight);
            text-transform: capitalize;
            margin-top: 10px;
        }

        .performance-timeline {
            overflow-y:hidden;
            transition: 0.7s;
        }

        .subject-overall-performance {
            background-color: $bgColor64;
            height: 207px;
            margin-bottom: 75px;

            .subject-title {
                @include text-style(17px, $fcColor7, Quicksand, $boldFontWeight);
                padding-top: 20px;
                text-transform: capitalize;
            }

            .progress-wrapper {
                width: 420px;
                display: inline-block;
                margin-top: 25px;
                .progress-wrap {
                    background-color: $bgColor49;
                    .progress {
                        transition: 0.5s ease-in;
                    }
                }
                .progress-bubble-wrapper {
                    transition: 0.5s ease-in;

                    .progress-percentage div div {
                        font-weight: $lightFontWeight;
                        bottom: 6px;
                    }

                    .progress-bubble{
                        border: 1px solid $bcColor22;
                    }
                }
            }

            .avg-time {
                @include text-style(14px, $fcColor11, Lato, $regularFontWeight);
                margin-top: 38px;
                svg-icon {
                    &.time-icon {
                        width: 12px;
                        display: inline-block;
                        padding-right: 8px;
                        vertical-align: middle;
                        * {
                            stroke: $fcColor11;
                        }
                    }
                }
            }
        }

        &.verbal {
            .subject-overall-performance {
                height: 235px;
                margin-bottom: 47px;

                .progress-wrapper-verbal {
                    display: flex;
                    justify-content: space-around;
                    width: 560px;
                    margin: 35px auto 0 auto;

                    .progress-wrapper-reading, .progress-wrapper-writing {
                        @include text-style(14px, $fcColor11, Quicksand, $boldFontWeight);
                        display: inline-block;

                        .progress-wrapper {
                            width: 200px;
                            margin-top: 20px;
                        }

                        .avg-time {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        &.essay{
            .time-line-title{
                display:none;
            }

            .subject-overall-performance{
                border-radius: 15px;
            }

            .performance-timeline {
                height: 0;
            }
        }

        &:not(.essay){
            .performance-timeline {
                height: 280px;
            }
        }

        .categories-progress-wrapper{
            @include dimension(640px,auto);
            overflow: hidden;
            clear:both;
            margin: 0 auto;

            .category-wrapper:nth-child(2n + 1){
                float: left;
            }

            .category-wrapper:nth-child(2n + 2){
                float: right;
            }

            .category-wrapper {
                @include dimension(300px, 135px);

                .category-short-name {
                    @include dimension(30px, 30px);
                    @include text-style(14px, $fcColor1, Lato, $regularFontWeight);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-right: 15px;
                    float: left;
                }

                &.math {
                    .category-short-name {
                        background-color: $mathColor;
                    }
                }

                &.verbal{
                    .category-short-name {
                        background-color: $verbalColor;
                    }
                }

                &.essay{
                    .category-short-name {
                        background-color: $essayColor;
                    }
                }

                .category-name {
                    @include dimension(250px, auto);
                    @include text-style(18px, $fcColor7, Lato, $regularFontWeight);
                    display: inline-block;
                    text-align: left;
                    padding-top: 5px;
                }

                .progress-details-wrapper {
                    @include dimension(255px, 70px);
                    margin: 11px auto;
                    padding-left: 45px;

                    .subject-progress-wrapper {
                        clear: both;
                        position: relative;

                        .progress-wrap {
                            @include dimension(250px, 7px);
                            background-color: $bgColor2;
                            border: 1px solid $bcColor23;

                            .progress{
                                transition: 0.5s;
                            }
                        }

                        .level-white-line {
                            @include dimension(1px, 7px);
                            background-color: $bgColor2;
                            display: inline-block;
                            position: absolute;
                            bottom: 1px;
                        }

                        .line1 {
                            left: 75px;
                        }
                        .line2 {
                            left: 137px;
                        }
                        .line3 {
                            left: 187px;
                        }
                        .line4 {
                            left:222px;
                        }
                    }

                    .level-status-wrapper {
                        span{
                            text-align: center;
                            @include text-style(12px, $fcColor7, Quicksand, $regularFontWeight);
                            margin-bottom: 3px;
                        }

                        span:first-child {
                            float: left
                        }

                        span:nth-child(2) {
                            float: right;
                            margin-right: 3px;
                        }
                    }

                    .average-time-wrapper {
                        margin-top: 7px;
                        .clock-icon{
                            float: left;
                            margin-right: 8px;
                            width: 11px;
                            height: auto;
                        }

                        span {
                            @include text-style(13px, $fcColor11, Quicksand, $regularFontWeight);
                            line-height: 13px;
                            float: left;
                        }
                    }
                }

                .no-data-title{
                    @include text-style(14px, $fcColor7, Lato, $lightFontWeight);
                    width: 152px;
                    margin-top: 20px;
                }
            }
        }

        .performance-overlay-wrapper {
            @include dimension(100%, 100%);
            position: absolute;
            top: 0;
            left: 0;
            background-color: $bgColor2;
            border-radius: 15px;

            .performance-main-container-overlay {
                position: absolute;
                top: 0;
                width: 100%;
                left: 0;
                background-color: $bgColor2;
                z-index: 2;
                display: flex;
                justify-content: center;
                background-repeat: no-repeat;
                span {
                    width: 60%;
                    line-height: 40px;
                    margin-top: 280px;
                    @include text-style(18px, $fcColor7, Quicksand);
                }
            }
        }

        .category-wrapper, .categories-progress-wrapper{
            transition: 0.5s;
        }
        .category-wrapper.ng-enter, .categories-progress-wrapper.ng-enter{
            opacity: 0;
        }
        .category-wrapper.ng-enter.ng-enter-active, .categories-progress-wrapper.ng-enter.ng-enter-active{
            opacity: 1;
        }
        .category-wrapper.ng-leave, .categories-progress-wrapper.ng-leave{
            transition: none;
        }
    }
}
