goal-select{
    @include text-style(26px, $fontColor3, Quicksand, $regularFontWeight);
    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);
    .goal{
        width: 45px;
        text-align: center;
    }
    .action-btn{
        width: 40px;
        height: 40px;
        font-size:120%;
        text-align: center;
        cursor: pointer;
        @include display-flex;
        @include align-items(center);
        svg {
            margin: 0 auto;
            width: 35%;
            line {
                stroke: $fontColor6;
            }
        }
        &.minus {
            .st0 {
                display:none;
            }
        }
    }
}
