tags-input{
    .host{
        .tags{
            padding-top: 3px;
            padding-left: 35px;
            min-height: 41px;
            max-height: 41px;
            border: 2px solid $borderColor4;
            border-radius: 20px;
            @include format-input-placeholder($borderColor4,1);

            .custom-tag-item{
                @include text-style(14px, $fontColor1,Lato,$regularFontWeight);
            }

            .input {
                height: 30px;
            }

            .tag-item{
                @include text-style(14px, $fontColor1,Lato,$regularFontWeight);
                background: $bgColor12;
                border-radius: 10px;
                border: none;

                .tag-wrap{
                    margin-left: 5px;
                    margin-right: 5px;

                    .remove-button{
                        color: $fontColor1;
                        font-weight: $regularFontWeight;
                    }
                }
            }
        }
    }

    .autocomplete{
        .suggestion-list{
            max-height: 330px;
        }
        .suggestion-item.selected{
            &.selected{
                background-color: $borderColor6;
                color: white;
            }
        }
    }

    auto-complete{
        ti-autocomplete-match{
            .list-title{
                @include text-style(12px, $fontColor4,Lato,$lightFontWeight, null, uppercase);
                padding-bottom: 25px;

                .list-left-panel{
                    float: left;
                    width: 50%;
                }

                .list-right-panel{
                    float: right;
                    width: 50%;
                    text-align: right;
                }
            }

            .left-panel{
                @include text-style(14px, $fontColor6,Lato,$regularFontWeight);
                float: left;
                .location{
                    @include text-style(12px, $fontColor8,Lato,$lightFontWeight);
                }
            }

            .right-panel{
                @include text-style(12px, $fontColor4,Lato,$lightFontWeight);
                float: right;
            }
        }
    }
}
