<div class="admin-search-pane">
    <div class="search-wrap">
        <div class="znk-input-group">
            <input type="search"
                   minlength="{{::vm.minlength}}"
                   placeholder="{{::vm.placeholder}}"
                   name="search-box"
                   ng-model="vm.searchQuery">
        </div>
    </div>
    <!--<button class="admin-search-btn" ng-click="vm.searchResults(vm.searchQuery)"-->
            <!--ng-disabled="!vm.searchQuery" translate=".SEARCH">-->
    <!--</button>-->

    <button element-loader
            ng-disabled="!vm.searchQuery"
            fill-loader="vm.fillLoader"
            show-loader="vm.startLoader"
            bg-loader="'#037684'"
            precentage="50"
            font-color="'#FFFFFF'"
            bg="'#0a9bad'"
            ng-click="vm.searchResultsFunc(vm.searchQuery)"
            class="admin-search-btn"
            name="submit">
        <span translate=".SEARCH"></span>
    </button>

</div>
