
.lesson-info {
  height: 170px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .field {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    .label {
      @extend label;
      width: 95px;
      text-align: right;
      margin-right: 33px;
    }
    .text {
      text-transform: capitalize;
    }
    select {
      width: 130px;
      font-size: 16px;
      &.attended {
        color: $mantis;
      }
      &.canceled, &.missed {
        color: $bittersweet;
      }
    }
  }

}
