complete-exercise-exercise{
    .base-complete-exercise-container{
        display: flex;
        flex-direction: column;
        box-shadow: none;

        complete-exercise-header{
            pre-right-part{
                border-right: 1px solid $borderColor11;
                display: block;
                padding: {
                    right: 25px;
                }
                margin:{
                    right: 25px;
                }
                display: flex;

                .timer-type1{
                    .clock-icon-svg{
                        *{
                            stroke: $bgColor1;
                        }
                    }
                }

                .summary{
                    cursor: pointer;
                    height: 30px;
                    text-align: center;
                    border-radius: 15px;
                    line-height: 30px;
                    padding: {
                        right: 10px;
                        left: 10px;
                    }

                    .background {
                        background: $bgColor3;
                        opacity: 0.2;
                        height: 100%;
                        position: absolute;
                        width: 85px;
                        border-radius: inherit;
                    }

                    .summary-text{
                        @include text-style(16px, $fontColor8, Lato, $lightFontWeight);
                    }
                }
            }
        }

        znk-exercise{
            flex-grow: 1;

            questions-carousel{
                box-shadow: 0 3px 7px 0 $bsColor3;
            }

            questions-carousel, .question-bottom-shadow{
                border-bottom:{
                    right-radius: 15px;
                    left-radius: 15px;
                }
            }
        }
    }
}
