<div class="base-complete-exercise-container">
    <complete-exercise-header>
        <center-part>{{$ctrl.znkExercise.actions.getCurrentIndex() + 1}}/{{::$ctrl.znkExercise.exerciseContent.questions.length}}</center-part>
        <pre-right-part>
            <timer ng-if="$ctrl.timeEnabled &&
                   $ctrl.znkExercise.settings.viewMode !== $ctrl.znkExerciseViewModeEnum.REVIEW.enum"
                   ng-model="$ctrl.znkExercise.exerciseResult.duration"
                   complete-exercise-timer-parser
                   type="1"
                   play="true"
                   config="$ctrl.timerConfig"
                   ng-change="$ctrl.durationChanged()">
            </timer>
            <div class="tutorial-icon-wrapper" ng-if="$ctrl.completeExerciseCtrl.exerciseDetails.exerciseTypeId === 1">
                <svg-icon ng-click="$ctrl.openIntro()" name="completeExercise-book-icon" class="book-icon"></svg-icon>
            </div>
            <div class="summary"
                 ng-click="$ctrl.goToSummary()"
                 ng-if="$ctrl.znkExercise.exerciseResult.isComplete && $ctrl.znkExercise.exerciseResult.exerciseTypeId != $ctrl.ExerciseTypeEnum.LECTURE.enum">
                <span translate=".SUMMARY" class="summary-text"></span>
                <div class="background-opacity"></div>
            </div>
        </pre-right-part>
    </complete-exercise-header>
    <complete-exercise-progress-bar ng-if="$ctrl.timeEnabled &&
                                    $ctrl.znkExercise.settings.viewMode !== $ctrl.znkExerciseViewModeEnum.REVIEW.enum"
                                    total-time="{{$ctrl.znkExercise.exerciseContent.time}}"
                                    duration="$ctrl.znkExercise.exerciseResult.duration">
    </complete-exercise-progress-bar>
    <znk-exercise questions="$ctrl.znkExercise.exerciseContent.questions"
                  ng-model="$ctrl.znkExercise.exerciseResult.questionResults"
                  settings="$ctrl.znkExercise.settings"
                  actions="$ctrl.znkExercise.actions">
    </znk-exercise>
</div>
