<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tests Demo</title>

    <!-- Bower:css -->
    <link rel="stylesheet" href="Swiper/dist/css/swiper.css" />
    <link rel="stylesheet" href="infra/dist/main.css" />
    <link rel="stylesheet" href="angular-material/angular-material.css" />
    <link rel="stylesheet" href="ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="angular-chart.js/dist/angular-chart.css" />
    <!-- endBower -->

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="demo.css">

</head>
<body ng-app="demo">

<div style="display: flex;justify-content: center;">

    <button class="open-tests-btn" ng-click="openTests()">Open tests</button>
    <span class="promMsg" ng-if="waitForProm">Please wait for the promise to come back</span>
    <ui-view>

        <div class="app-navigation-container" translate-namespace="DEMO">
            <navigation-pane
                active-exam="activeExamId"
                exams="vm.exams"
                exams-results="vm.examsResults"
                on-exam-click="onExamClick(exam, prevExam)"
                title=".MINI_TEST_TITLE"
                second-title=".FULL_TEST_TITLE">
            </navigation-pane>
        </div>

    </ui-view>

    <!-- Bower:js -->
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="Swiper/dist/js/swiper.js"></script>
    <script src="firebase/firebase.js"></script>
    <script src="angular-translate/angular-translate.js"></script>
    <script src="angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <script src="infra/dist/main.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-messages/angular-messages.js"></script>
    <script src="angular-material/angular-material.js"></script>
    <script src="ng-tags-input/ng-tags-input.js"></script>
    <script src="Chart.js/Chart.js"></script>
    <script src="angular-chart.js/dist/angular-chart.js"></script>
    <!-- endBower -->

    <script src="main.js"></script>
    <script src="demo.js"></script>
    <script src="demo/demo.controller.js"></script>

    <script src="infra/demoShared/env.service.js"></script>
    <script src="infra/demoShared/analyticsConfig.js"></script>
    <script src="infra/demoShared/contentConfig.js"></script>
    <script src="infra/demoShared/infraSrvUserDataConfig.js"></script>
    <script src="translate.config.js"></script>
    <script src="estimatedScoreWidget.config.js"></script>
    <script src="diagnostic.config.js"></script>
    <script src="tests.config.js"></script>
    <script src="locale.run.js"></script>
    <script src="infra/demoShared/storagesConfig.js"></script>

</div>
</body>
</html>
