<div class="lesson-notes-popup" ng-if="vm.lesson && vm.lessonSummary">

    <div class="znk-popup-header">
        <div class="icon-wrapper">
            <svg-icon name="znkLessonNotes-zoe-new-record"></svg-icon>
        </div>
        <div class="close-popup-wrap" ng-click="vm.doItLater()">
            <svg-icon name="znkLessonNotes-close-popup"></svg-icon>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="znk-scrollbar">
            <div class="title" translate="LESSON_NOTES.LESSON_NOTES_POPUP.TITLE"></div>

            <znk-lesson-details lesson="vm.lesson" lesson-summary="vm.lessonSummary" user-context="vm.userContext"></znk-lesson-details>
            <znk-lesson-started-late lesson="vm.lesson" lesson-summary="vm.lessonSummary" user-context="vm.userContext"></znk-lesson-started-late>
            <div class="divider" ng-if="vm.isAdmin"></div>

            <znk-lesson-rating lesson="vm.lesson" lesson-summary="vm.lessonSummary" user-context="vm.userContext"></znk-lesson-rating>
            <div class="divider" ng-if="vm.isAdmin"></div>

            <znk-lesson-teacher-notes lesson="vm.lesson" lesson-summary="vm.lessonSummary" user-context="vm.userContext"></znk-lesson-teacher-notes>
        </div>
        <div class="btn-group">
            <button type="button" class="btn-type-1 save-btn" ng-click="vm.submit()">
                <span class="btn-text" translate="LESSON_NOTES.SUBMIT"></span>
                <span class="spinner" ng-if="vm.showSpinner"></span>
            </button>
            <button type="button" class="btn-type-link" ng-click="vm.doItLater()"
                    translate="LESSON_NOTES.DO_IT_LATER">
            </button>
        </div>
    </div>
</div>
