<div class="time-line-wrapper" translate-namespace="ZNK_SUMMARY"
     ng-class="{'seen-summary': vm.seenSummary}">
    <div class="estimated-score-title">
        <span translate="SUBJECTS.{{vm.currentSubjectId}}">
        </span>
        <span translate=".ESTIMATED_SCORE">
        </span>
    </div>
    <znk-timeline-web-wrapper
        subject-id="{{::vm.currentSubjectId}}"
        show-induction="true"
        active-exercise-id="::vm.activeExerciseId">
    </znk-timeline-web-wrapper>
</div>
