.exercise-container {
    width: 1060px;
    height: calc(100vh - 125px);
    background-color: $bgColor1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: {
        right: auto;
        left: auto;
    }

    znk-exercise-header{
        border:{
            top-right-radius: $baseBorderRadiusCorner;
            top-left-radius: $baseBorderRadiusCorner;
        }
    }

    znk-exercise {
        flex-grow: 1;

        znk-exercise-btn-section {
            .btn-container {
                svg-icon {
                    display: block;
                }
            }
        }

        .swiper-container {
            box-shadow: 0 3px 7px 0 $bsColor3;
            border-bottom: {
                left-radius: 15px;
                right-radius: 15px;
            }
            overflow: hidden;
            background-color: $bgColor1;
        }

        znk-exercise-btn-section {
            .shadow-container {
                background: $bgColor1;
            }
        }

        .question-bottom-shadow {
            border: {
                bottom-left-radius: 15px;
                bottom-right-radius: 15px;
            }
        }

        .answer-container, .question-container {
            .redactor-roman-list {
                list-style-type: upper-roman;
            }
        }
    }

    //table style from admin
    znk-exercise .question-wrapper, .tutorial-intro {
        table {
            border-collapse: collapse;
            font-size: 1em;
            width: 100%;

            td {
                padding: 5px;
                border: 1px solid $borderColor15;
                vertical-align: top;
            }
        }
    }
}

.base-complete-exercise-container, .exercise-container {
    znk-exercise {
        questions-carousel {
            question-builder {
                img {
                    max-width: 400px !important;
                    height: auto !important;
                    vertical-align: middle;
                }
                height: 100%;
            }
        }
    }
}
