feedback {
    position: fixed;
    z-index: 100;
    .feedback-btn {
        @include dimension(45px, 45px);
        @include misc-pos(fixed, null, 30px, 10px, null);
        border:1px solid $borderColor23;
        cursor: pointer;
        box-shadow:0 1px 5px 0 $bsColor9;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: $bgColor43;
        z-index: 78;

        svg {
            g{
                fill: $transparent;
            }

            path, polyline{
                stroke-width: 10px;
                stroke: $fontColor4;
            }
        }
    }
}

.feedback-dialog {
    .popup-header {
        position: relative;
        height: 40px;
        background-color: $bgColor5;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    md-backdrop {
        &.md-opaque {
            background-color: $bgColor9;
            opacity: .76;
        }
    }
    md-dialog {
        background: none;
        &.feedback-container {
            .feedback-icon {
                path {
                    fill: $bgColor6;
                }
            }
            md-dialog-content {
                background-color: $bgColor3;
                padding:50px 0;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                .feedback-inner {
                    width: 350px;
                    margin: 0 auto;
                    .main-title {
                        @include text-style(32px, $fontColor3,Quicksand,$semiBoldFontWeight);
                        text-align: center;
                        margin-top:0;
                    }
                    .md-button {
                        @include text-style(14px, $fontColor1, Lato, $regularFontWeight);
                        width: 100%;
                        height: 42px;
                        margin-left: 0;
                        box-shadow: 0 3px 0 0 $bsColor7;
                        text-transform: none;
                        border-radius: 21px;
                        background-color: $bgColor14;
                    }
                    .user-details-border {
                        border-top: 1px solid;
                        opacity: 0.2;
                        margin-top: 25px;
                    }
                    .user-email {
                        text-align: center;
                        @include text-style(12px, $fontColor4, Lato, $regularFontWeight);
                        margin-top: 15px;
                        line-height: 25px;
                    }

                    .user-id {
                        text-align: center;
                        font-size: 10px;
                        @include text-style(12px, $fontColor4, Lato, $regularFontWeight);
                    }
                }
                .sub-title {
                    @include text-style(16px, $fontColor4, Lato, $regularFontWeight);
                }
                .success-feedback {
                    svg-icon.completed-v-feedback-icon {
                        margin: 36px auto 22px auto;
                        width: 111px;
                        display: flex;
                        .st0{fill:none;enable-background:new;}
                        .st1{fill:$fontColor21;}
                        .st2{display:none;fill:none;}
                        .st3{fill:$fontColor22;}
                        .st4{fill:none;stroke:$fontColor1;stroke-width:11.9321;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    }
                    .success-msg {
                        @include text-style(16px, $fontColor4, Quicksand, $regularFontWeight, null, null, null, center);
                        margin: 0 auto 100px auto;
                        line-height: 1.594;
                    }
                }
                .base-form {
                    .hidden {
                        visibility: hidden;
                    }
                    &.ng-submitted .ng-invalid {
                        border: solid thin $bgColor32;
                    }
                    input,
                    textarea {
                        width: 100%;
                        @include text-style(14px, $fontColor4, Lato, $regularFontWeight);
                        padding: 11px;
                        margin: 0;
                        box-sizing: border-box;
                    }
                    textarea {
                        resize: none;
                        height: 120px;
                    }
                    input {
                        height: 40px;
                    }
                    label {
                        @include text-style(12px, $fontColor17, Lato, $regularFontWeight);
                        line-height: 30px;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}
