<div class="instructions-title-wrapper" ng-if="d.showFreeTextInstructions" translate-namespace="CUSTOM_ANSWER_BUILDER_SAT">
    <div class="instructions-title">
        <span translate=".FREE_TEXT_INSTRUCTIONS"></span>
        <div class="svg-wrapper">
            <svg-icon name="info"></svg-icon>
            <md-tooltip md-direction="top" class="free-text-instructions-tooltip">
                <span translate=".FREE_TEXT_INSTRUCTIONS_TOOLTIP"></span>
                <div class="arrow-down"></div>
            </md-tooltip>
        </div>
    </div>
    <div class="note-title" translate=".FREE_TEXT_NOTICE"></div>
</div>
<answer-builder> </answer-builder>
