<div class="evaluate-result-wrapper"
     translate-namespace="EVALUATE_RESULT_DRV">
    <div class="evaluate-text"
        translate=".{{evaluateText}}">
    </div>
    <div
        class="evaluate-points"
        translate=".POINTS"
        translate-values="{ pts: '{{points}}' }">
    </div>
    <div class="evaluate-stars-wrapper">
        <svg-icon
            ng-repeat="star in stars"
            ng-class="{
              'starEmpty': star.status === starStatusMap.empty,
              'starHalf': star.status === starStatusMap.half,
              'starFull': star.status === starStatusMap.full
            }"
            name="evaluator-star">
        </svg-icon>
    </div>
</div>
