<div class="evaluate-review-states-wrapper"
     ng-class="vm.evaluateTypes[vm.stateData.typeId].aliasName"
     translate-namespace="EVALUATE_REVIEW_STATES_DRV">
     <div class="evaluate-review-states-switch"
          ng-switch="vm.evaluateStatus">
          <div class="evaluate-review-not-purchase"
               ng-switch-when="1">
              <div class="upgrade-text"
                   translate=".UPGRADE_TEXT_{{vm.evaluateTypes[vm.stateData.typeId].aliasName | uppercase}}">
              </div>
              <button class="upgrade-btn"
                      open-purchase-dialog-on-click
                      translate=".UPGRADE_BTN">
              </button>
          </div>
          <div class="evaluate-review-pending"
              ng-switch-when="2">
              <div class="pending-title"
                   translate=".PENDING_TITLE">
              </div>
              <div class="pending-desc"
                   translate=".PENDING_DESC">
              </div>
          </div>
          <div class="evaluate-review-evaluated"
              ng-switch-when="3">
              <div class="evaluated-answer-title"
                   translate=".EVALUATED_ANSWER_TITLE">
              </div>
              <evaluate-result
                  points="vm.stateData.points"
                  type="vm.stateData.typeId">
              </evaluate-result>
          </div>
     </div>
</div>
