@import 'src/scss/imports/variables',
        'src/scss/imports/colors',
        'bower_components/infra/dist/mixins/mixins';

md-progress-linear{
    &.znk-progress-linear-exercise-bar  {
        .md-bar {
            background-color: $bgColor22;
            transition: 0.4s;
         }
    }
    &.green-state {
        .md-bar{
            background-color: $bgColor12;
        }
    }
    &.orange-state {
        .md-bar{
            background-color: $bgColor2;
        }
    }
    &.red-state {
        .md-bar{
            background-color: $bgColor18;
        }
    }
}

md-input-container{
    &.md-input-has-value{

        [ng-messages]{
            opacity: 0;
            margin-top: -100px;
        }
    }

    &:not(.md-input-invalid)/*.md-input-focused */{
        .md-input{
            border-color: $fontColor2;
        }
        label{
            color: $fontColor2;
        }
    }
}

//md-tooltip {
//    opacity: 0;
//    width: auto;
//    height: 87px;
//    background: $bgColor1;
//    padding:0 5px;
//    .md-content {
//        height: auto;
//        text-align: center;
//        background: $bgColor1;
//        white-space: normal;
//        // override and cancel .md-content transitions and transform
//        &.md-show {
//            opacity: 1;
//            transform: none;
//            transition: none;
//            pointer-events: auto;
//            will-change: auto;
//        }
//        &.md-show-remove {
//            transition: none;
//            &.md-show-remove-active {
//                transform: none;
//                opacity: 0;
//            }
//        }
//        .top-text {
//            margin: {
//                top: 22px;
//                bottom: 12px;
//            }
//            @include text-style(16px, $fontColor3, Lato, 400);
//        }
//        .bottom-text {
//            line-height: 12px;
//            @include text-style(12px, $fontColor3, Lato, 300);
//        }
//    }
//
//    &.md-hide {
//        transition: opacity 0.4s;
//        opacity: 0;
//    }
//
//    &.md-show {
//        opacity: 1;
//        transition: opacity 0.4s;
//        pointer-events: auto;
//        will-change: opacity;
//    }
//}

md-dialog {
    .close-popup{
        width: 16px;
    }
}

.md-dialog-container {
    overflow: visible;
}
