md-dialog.setting-change-password {
    overflow: visible;
    width: 582px;
    max-width: 582px;
    height: 538px;
    max-height: 538px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background:none;


    .main-title {
        @include text-style(32px, $fontColor3, Quicksand, $semiBoldFontWeight);
        text-align: center;
        margin-top:20px;
        background-color: $bgColor3;
    }

    md-toolbar{
        height: 40px;
        max-height: 40px;
        min-height: 40px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

            &:not(.md-menu-toolbar){
                background-color: $bgColor5;
            }

            .close-popup-wrap {
                @include absolute-position(-35px, -35px);
                height:14px;
                width: 14px;
                padding: 10px;
                cursor: pointer;
            }
        }

        md-dialog-content {
            background-color: $bgColor3;
            padding-top: 25px;
            height: 100%;
            @include border-bottom-radius(20px);

            .auth-form{
                width: 350px;
                margin: {
                    right: auto;
                    left: auto;
                    bottom: 10px;
                    top: 43px;
                };

                .znk-input-group {
                    input {
                        width: 100%;
                        display: block;
                        border-radius: 0;
                        padding-left: 20px;
                        box-sizing:border-box;
                    }
                    .locked-icon {
                        width: 14px;
                        display: inline-block;
                        position: absolute;
                        left: 12px;
                        top: 16px;
                    }

                    .locked-icon *{
                        stroke: $fontColor18;
                    }
                 }

                .btn-wrap{
                    margin-top: 70px;
                    button {
                        width:100%;
                        margin:0;
                        box-shadow: none;
                        height: 42px;
                    }
                }
            }
        }

    .top-icon-wrap{
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
        .top-icon{
            display: flex;
            justify-content: center;

            .round-icon-wrap{
                width: 76px;
                height: 76px;
                border-radius: 38px;
                background-color: $bgColor5;
                z-index: 9;
                margin-top: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
                .settings-change-password-icon{
                    width: 35px;
                    stroke: $bgColor3;
                }

                .settings-change-password-icon *{
                    fill: $bgColor3;
                }
            }
        }
    }

    .main-title{
        margin-top: 20px;
    }

    .msg-wrap {
        @include text-style(12px, $fontColor8, Lato, $regularFontWeight);
        width: 342px;
        margin: 0 auto;
        display: flex;
        margin-top: 10px;
        max-height: 28px;
        visibility: hidden;

            &.show-error{
                .error-msg {
                    visibility: visible;
                    width: 100%;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    padding: 6px 0 6px 5px;
                    @include text-style(14px, $fontColor17, Lato, $regularFontWeight);
                }
            }

        .settings-danger-red-icon {
            width: 20px;
            margin-right: 17px;
            * {
                fill: $bgColor51;
            }
        }


    }

    .big-success-msg{
        .completed-v-icon-wrap{
            width: 120px;
            margin: 25px auto;
            display: block;
        }
        div{
            @include text-style(16px, $fontColor13, Lato, $regularFontWeight);
            text-align: center;
            margin-top: 20px;
        }

        .done-btn-wrap{
            margin-top: 120px;
            display: flex;
            justify-content: center;
        }
    }
}
