znk-summary-timeline {
    .time-line-wrapper {
        padding: 30px 0;
        background-color: $bgColor35;

        &.seen-summary{
            border-radius: 0 0 15px 15px;
        }

        .estimated-score-title {
            @include text-style(18px, $fontColor4, Quicksand, $boldFontWeight, null, capitalize, null, center);
        }

        .znk-timeline-web-wrapper {
            .progress-val {
                text-align: center;
            }
        }
    }
}
