<div class="lesson-notes-popup znk-scrollbar" *ngIf="lesson" translate-namespace="LESSON_NOTES.LESSON_NOTES_POPUP">
    <znk-lesson-info lesson="vm.lesson"></znk-lesson-info>
    <div class="divider"></div>
    <znk-lesson-rating lesson="vm.lesson"></znk-lesson-rating>
    <div class="divider"></div>
    <znk-lesson-summary-note lesson="vm.lesson"></znk-lesson-summary-note>
    <button type="button" class="btn-type-1" ng-click="vm.save()">
        <span class="btn-text" translate=".SAVE"></span>
        <span class="spinner" ng-if="showSpinner"></span>
    </button>
</div>
