<div class="lesson-details" ng-if="vm.fields.length" translate-namespace="LESSON_NOTES.LESSON_NOTES_POPUP">
    <div class="field" ng-repeat="field in vm.fields" ng-if="field.text">
        <div class="label">{{field.label}}</div>
        <div class="text" ng-if="field.label !== 'Status' || vm.userContext === vm.userTypeContextEnum.STUDENT.enum">{{field.text}}</div>
        <select class="lesson-status" ng-if="field.label === 'Status' && vm.userContext !== vm.userTypeContextEnum.STUDENT.enum"
                ng-options="status as status.val for status in vm.lessonStatusArr"
                ng-model="vm.lessonStatus"
                ng-change="vm.statusChanged(field, vm.lessonStatus)">
        </select>
    </div>
</div>
