<form novalidate class="login-form-container" translate-namespace="LOGIN_FORM">
    <div class="title"
         translate=".LOGIN">
    </div>
    <div class="input-wrapper">
        <input type="text">
    </div>
    <div class="input-wrapper">
        <input type="text">
    </div>
    <div class="submit-btn-wrapper">
        <button translate=".LOGIN_IN"></button>
    </div>
    <div class="forgot-pwd-wrapper">
        <span translate=".FORGOT_PWD"></span>
    </div>
    <div class="divider">
        <div translate="OR" class="text"></div>
    </div>
    <div class="social-auth-container">
        <div class="social-auth-title" translate=".CONNECT_WITH"></div>
    </div>
</form>
