<div class="exercise-container base-border-radius base-box-shadow">
    <znk-exercise-header
        subject-id="vm.subjectId"
        side-text="{{::vm.sideTextByExamType}}"
        category-id="vm.categoryId"
        options="{ showQuit: true }"
        exercise-num="{{::vm.exerciseNum}}"
        on-clicked-quit="vm.onClickedQuit()">
    </znk-exercise-header>
    <div class="test-section-intro-main"
         subject-id-to-attr-drv="vm.subjectId"
         context-attr="class"
         prefix="test-intro"
         translate-namespace="TEST_SECTION_INTRO">
    <span class="test-section-intro-title"
          translate="{{::vm.sideTextByExamType}}"
          translate-values="{exerciseNum: {{::vm.exerciseNum}} }"></span>
        <svg-icon subject-id-to-attr-drv="{{::vm.subjectId}}"
                  context-attr="name"
                  suffix="icon"
                  class="icon-wrapper icon-subject">
        </svg-icon>
    <span class="test-section-intro-subject-name">
        {{::vm.testScoreIntroName}}
    </span>
        <div class="test-section-intro-subject-info">
            <span class="test-section-intro-subject-info-questionCount"
                  translate=".SUBJECT_INFO_QUESTION_COUNT"
                  translate-values="{ questionCount: {{vm.questionCount}} }">
            </span>
            <span class="test-section-intro-subject-info-time" translate=".SUBJECT_INFO_TIME"></span>
            <span>{{vm.time | timeFilter:'customMin'}}</span>
            <span translate=".SUBJECT_INFO_MIN"></span>
        </div>

        <div class="test-section-intro-instructions">
            <span class="test-section-intro-instructions-title" translate=".INSTRUCTIONS_TITLE"></span>
            <span class="test-section-intro-instructions-text">{{::vm.testScoreInstructions}}</span>
        </div>

        <div class="btn-wrap">
            <button autofocus tabindex="1"
               class="md-button md primary"
               translate=".START"
               aria-label="START"
               ng-click="vm.goToExercise()">
                <svg-icon name="dropdown-arrow-icon"></svg-icon>
            </button>
        </div>
    </div>
</div>
