<div class="app-tests-roadmap" layout="row" flex="grow" translate-namespace="TESTS_ROADMAP">
    <div class="app-navigation-container base-border-radius base-box-shadow">
        <navigation-pane
            active-exam="vm.activeExamId"
            exams="vm.exams"
            exams-results="vm.examsResults"
            on-exam-click="vm.onExamClick(exam, prevExam)"
            title=".TESTS_TITLE">
        </navigation-pane>
    </div>
    <div class="app-tests-test-container base-border-radius base-box-shadow">

        <div class="main-title">{{vm.currentExam.name}}</div>

        <div class="inner base-border-radius animate-if" ng-if="vm.testsReady" ng-class="{'blurred': vm.overlayType}">
            <div class="exam-composite-score" translate=".TESTS_TOTAL_SCORE" translate-values="{score: vm.scores.totalScore || '-'}"></div>
            <div class="flex-container">
                <div class="subject-container"
                     ng-repeat="subjectEnum in vm.subjectEnum"
                     ng-class="{'math': subjectEnum.enum === vm.subjectEnum.MATH.enum, 'essay': subjectEnum.enum === vm.subjectEnum.ESSAY.enum }">
                    <div class="subject-name">{{subjectEnum.val}}</div>
                    <div class="section-test-score" translate=".TESTS_SECTION_SCORE" translate-values="{score: vm.scores.sectionsScore[subjectEnum.enum] || '-' }"></div>
                    <div class="subject-box-container">
                        <div class="subject-box flex-item base-border-radius"
                             ng-repeat="subjectBox in vm.currentExam.sections | filter : {'subjectId': subjectEnum.enum} track by subjectBox.id">
                            <div class="subject-box-test-score" translate=".TESTS_SECTION_TEST_SCORE"
                                 translate-values="{score: vm.scores.testsScore[subjectBox.categoryId] || '-' }"></div>
                            <div class="subject-box-inner base-border-radius" ng-click="vm.onSubjectClick(subjectBox)"
                                 ng-class="{ 'loading': vm.loading, 'done': subjectBox.isComplete, 'lock': !subjectBox.isAvail,
                                 'progress': !subjectBox.isComplete && subjectBox.startedTime }">
                                <header subject-id-to-class-drv="subjectBox.subjectId" class-suffix="-bg">

                                    <div class="pattern"
                                         subject-id-to-attr-drv="subjectBox.subjectId"
                                         context-attr="class"
                                         prefix="subject-background">
                                    </div>

                                    <div class="icon-wrapper-round">
                                        <div class="math-no-calc" ng-if="!subjectBox.calculator && subjectBox.subjectId === vm.subjectEnum.MATH.enum"></div>
                                        <svg-icon name="{{vm.getTestIconName(subjectBox.categoryId)}}"
                                                  class="icon-wrapper">
                                        </svg-icon>
                                    </div>

                                    <svg-icon name="subject-locked-icon"></svg-icon>
                                </header>

                                <content>

                                    <div class="question-count" translate=".TESTS_QUESTIONS" translate-values="{questionCount: subjectBox.questionCount}"></div>
                                    <div class="section-correct" translate=".TESTS_CORRECT"
                                         translate-values="{correct: subjectBox.correctQuestionsNumber, questionsNum: subjectBox.questionCount }">
                                    </div>


                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar base-border-radius">
                                            <div class="progress-bar-inner"
                                                 role="progressbar"
                                                 ng-style="{'width': (subjectBox.answersNumber / subjectBox.questionCount) * 100 + '%'}"></div>
                                            <span class="answered-count">{{subjectBox.answersNumber}}</span>
                                        </div>
                                    </div>

                                    <div class="completed-box">
                                        <svg-icon class="check-mark-icon" name="check-mark"></svg-icon>
                                        <span class="completed-text" translate=".TESTS_COMPLETED"></span>
                                    </div>

                                </content>

                                <footer>
                                    <div class="section-time">
                                        <svg-icon class="icon-wrapper" name="clock-icon"></svg-icon>{{subjectBox.time - subjectBox.duration | timeFilter:'customMin'}}
                                        <span translate=".TESTS_MIN"></span>
                                    </div>
                                    <div ng-if="subjectBox.avgTimePerQuestion" class="section-avg-time"
                                         translate=".AVG_TIME_FOR_COMPLETED_SUBJECT"
                                         translate-values="{avgTimeForCompletedSubject: subjectBox.avgTimePerQuestion}"></div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tests-inner-popup base-border-radius" ng-if="vm.overlayType" ng-switch="vm.overlayType">
                <div class="tests-inner-popup-blurred"></div>
                <div class="tests-inner-popup-upgrade" ng-switch-when="upgrade">
                    <svg-icon name="locked-icon" class="lock-icon"></svg-icon>
                    <div class="tests-upgrade-text-up" translate=".TESTS_POPUP_UPGRADE_TEXT_1"></div>
                    <div class="tests-upgrade-text-down" translate=".TESTS_POPUP_UPGRADE_TEXT_2"></div>
                    <div class="btn-wrap">
                        <md-button class="md primary" translate="UPGRADE" aria-label="UPGRADE" ng-click="vm.showPurchaseDialog()">
                            <svg-icon name="dropdown-arrow-icon"></svg-icon>
                        </md-button>
                    </div>
                </div>
                <div class="tests-inner-popup-complete-section" ng-switch-when="completeSection">
                    <span translate=".TESTS_POPUP_COMPLETE_SECTION_TEXT"></span>
                </div>
                <div class="tests-inner-popup-complete-section" ng-switch-when="diagnostic">
                    <span translate=".TESTS_POPUP_DIAGNOSTIC_TEXT"></span>
                </div>
            </div>
        </div>
        <div class="tests-sub-score base-border-radius animate-if" ng-if="vm.currentExam.isComplete && vm.subScoreReady">
            <div class="sub-score-header">
                <div class="sub-score-title" translate=".TESTS_SUB_SCORE"></div>
                <svg-icon name="info-icon">
                    <md-tooltip md-direction="top" class="tooltip-for-tests">
                        <div translate=".TESTS_SUB_SCORE_TOOLTIP"></div>
                    </md-tooltip>
                </svg-icon>
            </div>
            <div class="sub-score-columns">
                <div class="sub-score-column">
                    <div class="sub-score-column-title" translate=".MATH"></div>
                    <div class="sub-score-section"
                         ng-repeat="subScore in vm.scores.subScores[vm.subjectEnum.MATH.enum]">
                        <div class="sub-score-name">{{subScore.name | limitTo: 20}}</div>
                        <div class="sub-score-sum">{{subScore.sum}}</div>
                    </div>
                </div>
                <div class="sub-score-column">
                    <div class="sub-score-column-title" translate=".VERBAL"></div>
                    <div class="sub-score-section"
                         ng-repeat="subScore in vm.scores.subScores[vm.subjectEnum.VERBAL.enum]">
                        <div class="sub-score-name">{{subScore.name | limitTo: 20}}</div>
                        <div class="sub-score-sum">{{subScore.sum}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tests-sub-score tests-cross-test-score base-border-radius animate-if" ng-if="vm.currentExam.isComplete && vm.crossTestScoreReady">
            <div class="sub-score-header">
                <div class="sub-score-title" translate=".TESTS_CROSS_TEST_SCORES"></div>
                <svg-icon name="info-icon">
                    <md-tooltip md-direction="top" class="tooltip-for-tests">
                        <div translate=".TESTS_CROSS_TEST_SCORES_TOOLTIP"></div>
                    </md-tooltip>
                </svg-icon>
            </div>
            <div class="sub-score-columns">
                <div class="sub-score-column">
                    <div class="sub-score-section"
                         ng-repeat="crossTestScore in vm.scores.crossTestScores">
                        <div class="sub-score-name">{{crossTestScore.name | limitTo: 20}}</div>
                        <div class="sub-score-sum">{{crossTestScore.sum}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
