<md-dialog-content ng-switch="!!vm.showSuccess">
    <form name="profileform" novalidate class="auth-form" ng-submit="vm.updateProfile(profileform)" ng-switch-when="false">
        <div class="znk-input-group"
             ng-class="profileform.nickname.$invalid && profileform.$submitted ? 'invalid' : 'valid'">
            <label>{{'MY_PROFILE.USERNAME' | translate}}</label>
            <div class="znk-input">
                <input
                        type="text"
                        autocomplete="on"
                        name="nickname"
                        ng-required="true"
                        ng-model="vm.profileData.nickname">
                <span ng-if="profileform.$submitted && profileform.nickname.$invalid"
                      role="alert">
                    <span class="validationBox">
                        <span ng-show="profileform.nickname.$error.required"
                              translate="{{vm.nicknameError}}"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="znk-input-group"
             ng-class="profileform.email.$invalid && profileform.$submitted ? 'invalid' : 'valid'">
            <label>{{'MY_PROFILE.EMAIL' | translate}}</label>
            <div class="znk-input">
                <input
                        type="email"
                        autocomplete="on"
                        name="email"
                        ng-disabled="true"
                        ng-model="vm.profileData.email">
                <span ng-if="profileform.$submitted && profileform.email.$invalid"
                      role="alert">
                    <span class="validationBox">
                        <span ng-show="profileform.email.$error.required"
                              translate=".EMAIL_ERROR"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="znk-input-group">
            <label for="timezone">{{'MY_PROFILE.TIMEZONE' | translate}}</label>
            <div class="znk-input">
                <select id="timezone" name="timezone"
                        ng-options="time as time for time in vm.timezonesList"
                        ng-model="vm.profileData.timezone"
                        ng-disabled="!vm.profileData.isTimezoneManual">
                </select>
            </div>
        </div>
        <div class="timezone-manual">
            <input type="checkbox"
                   id="timezoneManual" name="timezoneManual"
                   ng-model="vm.profileData.isTimezoneManual"
                   ng-change="vm.updateProfileTimezone()">
            <label for="timezoneManual">{{'MY_PROFILE.SET_MANUALLY' | translate}}</label>
        </div>

        <div class="btn-wrap">
            <button class="save-pass-btn"><span translate="{{vm.saveTitle}}"></span></button>
        </div>
    </form>
    <div class="big-success-msg" ng-switch-when="true">
        <svg-icon class="completed-v-icon-wrap" name="myProfile-completed-v-icon"></svg-icon>
        <div translate=".PROFILE_SAVE_SUCCESS"></div>
        <div class="done-btn-wrap">
            <md-button aria-label="{{'MY_PROFILE.DONE' | translate}}"
                class="success drop-shadow md-primary green znk" ng-click="vm.closeDialog()">
                <span translate=".DONE"></span>
            </md-button>
        </div>
    </div>
    <div class="msg-wrap" ng-class="{'show-error': vm.showError}" ng-if="vm.showError">
        <div class="error-msg">
            <svg-icon name="myProfile-danger-red-icon" class="myProfile-danger-red-icon"></svg-icon>
            <div translate="{{vm.generalError}}"></div>
        </div>
    </div>
</md-dialog-content>
