@import '../../../../bower_components/infra/dist/mixins/mixins',
        '../../../../src/scss/imports/variables';

invitation-manager {
    .invite-icon-btn {
        margin-right: 5px;
        position: relative;

        .num-of-receive {
            position: absolute;
            top: 0;
            right: 4px;
            width: 14px;
            height: 14px;
            background: $bgColor32;
            font-size: 10px;
            color: white;
            border-radius: 7px;
            text-align: center;
        }

        .teacher-icon-wrap {
            background-color: $bgColor33;
            svg-icon {
                width: 24px;
            }
        }
    }

    .circle-invite-wrap {
        width: 33px;
        height: 33px;
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .teacher-active-icon-wrap {
        border: 1px solid $bgColor5;
        .teacher-active-icon {
            width: 23px;
            height: 16px;
        }
        .teacher-active-icon * {
            fill: $bgColor5;
        }
    }

}

md-menu-content.md-menu-content-invitation-manager {
    min-width: 280px;
    overflow: hidden;
    padding: 0;

    md-list {
        padding: {
            top: 0;
            bottom: 0;
        }

        md-list-item {
            min-height: 20px;
            border-bottom: 1px solid $borderColor7;
            display: flex;
            flex-direction: row;
            align-items: center;

            .received-invitations {
                width: 14px;
                height: 14px;
                stroke: $bgColor5;
            }

            .received-invitations * {
                stroke: $bgColor5;
            }

            .sent-invitations {
                width: 14px;
                height: 14px;
                stroke: $bgColor34;
            }

            .sent-invitations * {
                stroke: $bgColor34;

            }
        }

        .declined-invitation-list {
            padding: 10px 0;
        }

        .teacher-wrap, .declined-teacher-wrap {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            flex-grow: 1;

            .teacher-name, .teacher-email {
                @include text-style(16px, $fontColor4, Lato, $regularFontWeight);
                text-transform: capitalize;
                flex-grow: 1;
                margin-bottom: 3px;
            }

            .teacher-email {
                @include text-style(14px, $fontColor4, Lato, $regularFontWeight);

            }

            .creation-time {
                @include text-style(10px, $fontColor4, Lato, $lightFontWeight);
            }

            .declined-your-invitation-text {
                @include text-style(14px, $fontColor4, Lato, $lightFontWeight);
                margin-left: 3px;
            }
        }

        .declined-teacher-wrap {
            padding: 10px 0 10px 13px;
            flex-direction: row;
            align-items: baseline;
            flex-grow: 0;
        }

        .invite-sub-title {
            @include text-style(14px, $fontColor4, Lato, $regularFontWeight);
            text-transform: uppercase;
            border-bottom: 1px solid $borderColor7;
        }

        .decline-invite, .decline-conformation {
            width: 25px;
            height: 25px;
            border: 1px solid $borderColor13;
            border-radius: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 6px;

            .decline-invite-btn, .decline-conformation-btn {
                height: 12px;
                width: 12px;
                cursor: pointer;
                margin-top: -2px;
            }

            .decline-invite-btn *, .decline-conformation-btn * {
                stroke: $bgColor31;
            }
        }

        .decline-conformation {
            border: none;
            .decline-conformation-btn {

            }
        }

        .approve-invite {
            width: 25px;
            height: 25px;
            border: 1px solid $borderColor3;
            border-radius: 13px;
            display: flex;
            justify-content: center;
            align-items: center;

            .v-icon-btn {
                width: 14px;
                cursor: pointer;
            }

            .v-icon-btn * {
                stroke: $bgColor7;
            }
        }
    }

    .empty-invite {
        .empty-msg {
            @include text-style(16px, $fontColor2, Lato, $regularFontWeight);
            text-align: center;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            min-height: 80px;
        }

        .invite-action {
            display: flex;
            align-items: center;
            height: 60px;
            background: $bgColor35;

            .invite-btn {
                margin: 10px auto;
            }
        }
    }

    .my-teacher-wrap {
        @include text-style(14px, $fontColor2, Lato, $regularFontWeight);
        background-color: $bgColor35;
        border-bottom: 1px solid $borderColor7;
        padding: 15px;
        position: relative;

        .title {
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .teacher-name {
            text-transform: capitalize;
            line-height: 25px;
        }

        .teacher-email {
            font-weight: $lightFontWeight;
            color: $bgColor31;
        }

        .delete-teacher {
            height: 12px;
            width: 12px;
            cursor: pointer;
            margin-top: -2px;
            position: absolute;
            right: 10px;
            top: 50%;
        }

        .delete-teacher * {
            stroke: $bgColor31;
        }
    }
}
