<div translate-namespace="INVITATION_MANAGER_DIRECTIVE">
<md-menu md-offset="-225 51"  class="invitation-manager">
    <div ng-click="$mdOpenMenu($event);" class="md-icon-button invite-icon-btn" aria-label="Open Invite menu" ng-switch="hasItems(myTeachers)">
        <div class="num-of-receive" ng-if="hasItems(invitations)">{{getItemsCount(invitations)}}</div>
        <section ng-switch-when="false" class="circle-invite-wrap teacher-icon-wrap">
            <svg-icon name="invitation-teacher-icon"></svg-icon>
        </section>
        <section ng-switch-when="true" class="circle-invite-wrap teacher-active-icon-wrap">
            <svg-icon name="teacher-active-icon"></svg-icon>
        </section>
    </div>
    <md-menu-content class="md-menu-content-invitation-manager" ng-switch="(hasItems(invitations) || hasItems(myTeachers) || hasItems(conformations))">
        <div class="empty-invite" ng-switch-when="false">
            <div class="empty-msg" translate=".EMPTY_INVITE"></div>
            <div class="invite-action">
                <div class="md-button outline-blue invite-btn" ng-click="openInviteModal()">
                    <div translate=".INVITE_STUDENTS"></div>
                </div>
            </div>
        </div>
        <div ng-if="hasItems(myTeachers)" class="my-teacher-wrap" ng-repeat="teacher in myTeachers">
            <div class="title" translate=".MY_TEACHER"></div>
            <div class="teacher-name">{{::teacher.senderName}}</div>
            <div class="teacher-email">{{::teacher.senderEmail}}</div>
            <svg-icon name="invitation-close-popup" class="delete-teacher" ng-click="deleteTeacher(teacher)"></svg-icon>
        </div>
        <md-list ng-if="hasItems(declinedInvitations)">
            <md-subheader class="invite-sub-title">{{::declinedTitle}}</md-subheader>
            <md-list-item class="declined-invitation-list" ng-repeat="declinedInvitation in declinedInvitations">
                <div class="declined-teacher-wrap">
                    <div class="teacher-name">{{::declinedInvitation.teacherName}} </div>
                    <span class="declined-your-invitation-text" translate=".DECLINED_YOR_INVITATION"></span>
                </div>
            </md-list-item>
        </md-list>
        <md-list ng-if="hasItems(invitations)" ng-switch-when="true">
            <md-subheader class="invite-sub-title">{{::pendingTitle}}</md-subheader>
            <md-list-item ng-repeat="invite in invitations">
                <svg-icon name="received-invitations-icon" class="received-invitations"></svg-icon>
                <div class="teacher-wrap">
                    <div class="teacher-name">{{::invite.senderName}}</div>
                    <div class="creation-time">{{::invite.creationTime | date : 'd MMM, h:mm a'}}</div>
                </div>
                <div class="decline-invite">
                    <svg-icon name="invitation-close-popup" class="decline-invite-btn" ng-click="decline(invite)"></svg-icon>
                </div>
                <div class="approve-invite">
                    <svg-icon name="v-icon" class="v-icon-btn" ng-click="approve(invite)"></svg-icon>
                </div>
            </md-list-item>
        </md-list>
        <md-list ng-if="hasItems(conformations)">
            <md-subheader class="invite-sub-title">{{::pendingConformationsTitle}}</md-subheader>
            <md-list-item ng-repeat="conformation in conformations">
                <svg-icon name="sent-invitations-icon" class="sent-invitations"></svg-icon>
                <div class="teacher-wrap">
                    <div class="teacher-email">{{::conformation.receiverName}}</div>
                </div>
                <div class="decline-conformation">
                    <svg-icon name="invitation-close-popup" class="decline-conformation-btn" ng-click="deletePendingConformations(conformation)"></svg-icon>
                </div>
            </md-list-item>
        </md-list>
    </md-menu-content>
</md-menu>
</div>
