
.send-email-notes {
  width: 100%;
  text-align: left;
  margin-top: 20px;
  .checkbox-group {
    margin: 20px 0;
    display: flex;
    .input-wrap {
      display: flex;
      align-items: center;
      margin-right: 40px;
      label {
        text-transform: lowercase;
        margin-left: 5px;
      }
    }
  }
  .button-wrapper {
    display: flex;
    align-items: center;
    .text-muted {
      font-family: lato;
      margin-left: 20px;
      opacity: 0.7;
      font-style: italic;
      font-size: 14px;
    }
    margin-bottom: 20px;
  }

}
