md-toast.toast-wrap{
    width: 400px;
    height: 60px;
    display: flex;
    background-color: $bgColor1;
    border: 2px solid $borderColor3;
    border-radius: 10px;

    .icon-wrap{
        width: 60px;
        margin: -8px;
        padding: 8px;
        background: $bgColor7;
        display: flex;
        justify-content: center;
        align-items: center;
        svg-icon{
            width: 40px;
            height: 40px;
            .complete-v-icon-svg *{
                fill: $bgColor7;
            }
        }
    }

    .md-toast-content{
        background: $bgColor1;
        box-shadow: none;
        color: $bgColor60;
        margin-left: 10px;
    }

    .close-toast-wrap{
        position: absolute;
        right: 3px;
        top: -15px;
        width: 20px;
        .close-pop-svg{
            width: 10px;
            .st1 {
                stroke: $bgColor60;
            }
        }
    }
}

md-toast.toast-wrap-error{
    @extend md-toast.toast-wrap;
    border: 2px solid $bgColor32;
    .icon-wrap{
        background: $bgColor32;
        svg-icon{
            width: 25px;
            height: 25px;
            .close-pop-svg *{
                stroke: $borderColor25;
            }
        }

    }
}

md-toast.toast-wrap-progress{
    @extend md-toast.toast-wrap;
    border: 2px solid $borderColor7;
    box-shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 0;
    transform: translate(0, 60px);

    .icon-wrap{
        background: $bgColor43;
        .progress-icon { 
             svg {
                * {
                    stroke: $bgColor24;
                }
            }
        }

    }
    .md-toast-content {
        .md-toast-text {
            display: flex;
            flex-direction: column;
            line-height: 23px;
            font-size: 14px;
            font-family: Lato;

            .progress-title {
               text-transform: uppercase;
            }
        }
    }
}
