@import '../../../../scss/imports/_colors';

purchase-btn {

    form {
        img {
            display: block;
        }
    }

    .flex-container {
        padding: 0;
        margin: 0 -15px;
        list-style: none;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: flex-start;
    }

    .flex-item {
        padding: 0;
        margin: auto;
    }
    .upgrade-btn-wrapper{
        text-align: center;

        .md-button {
            padding:0;
        }
    }
    .upgraded {
        .pending {
            md-progress-circular {
                margin-right: 20px;
                float:left;
                top: -10px;
                .md-spinner-wrapper .md-inner {
                    .md-left,
                    .md-right {
                        .md-half-circle {
                            border-top-color: $borderColor3;
                        }
                    }
                    .md-left {
                        .md-half-circle {
                            border-left-color: $borderColor3;
                        }
                    }
                    .md-right {
                        .md-half-circle {
                            border-right-color: $borderColor3;
                        }
                    }
                }
            }
        }
        .icon-wrapper {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $bgColor7;
            float:left;
            margin-right: 20px;
            svg-icon {
                height: 100%;
            }
            svg-icon svg {
                width:75%;
                height: 100%;
                margin: auto;
                display: block;
            }
        }
        .text {
            line-height: 25px;
            display: inline-block;
        }
    }

}
