md-dialog.setting-edit-goals {
    overflow: visible;
    width: 1100px;
    max-width: 1100px;
    height: 575px;
    max-height: 575px;
    background: none;

    md-toolbar {
        height: 40px;
        max-height: 40px;
        min-height: 40px;
        @include border-top-radius(15px);

        &:not(.md-menu-toolbar) {
            background-color: $bgColor5;
        }
    }
    .top-icon-wrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
        .top-icon {
            display: flex;
            justify-content: center;

            .round-icon-wrap {
                width: 76px;
                height: 76px;
                border-radius: 38px;
                background-color: $bgColor5;
                z-index: 9;
                margin-top: -15px;

                .estimated-score-widget-goals {
                    margin: 15px;
                    width: 46px;
                    display: block;
                    * {
                        //fill: $bgColor3;
                    }
                }
            }
        }
    }
    .main-title {
        @include text-style(32px, $fontColor3, Quicksand, $semiBoldFontWeight);
        text-align: center;
        background-color: transparent;
        margin-top: 20px;
    }
    md-dialog-content {
        height: 100%;
        background-color: $bgColor3;
        padding: {
            top: 25px;
            bottom: 25px;
        }
        @include border-bottom-radius(15px);

    }
    .close-popup-wrap {
        @include absolute-position(-37px, -19px);
        height: 14px;
        width: 14px;
        padding: 10px;
        cursor: pointer;

    }
    .estimated-score-widget-close-popup {
        width: 16px;
        display: block;
    }
}
