.tutorials-list-pane {
    width: 810px;
    height: 100%;
    text-align: center;
    background-color: $bgColor1;
    .diagnostic-overlay {
        position: absolute;
        width: 810px;
        height: 983px;
        z-index: 10;
        .overlay-text {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include text-style(18px, $fontColor4, Quicksand);
        }
    }
    .tutorials-list-container {
        height: 100%;
        padding: 20px 0 20px 20px;
        .flex-container {
            overflow-y: auto;
            overflow-x: hidden;
            height: 95%;
            margin: 0;
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            &.blur {
                filter: blur(7px);
                opacity: 0.5;
            }
        }

    }
}
