$oathLoginDrvHeight: 40px;
$facebookColor : #369;
$facebookHoverColor : #2a547f;
$gplusColor : #df4a31;
$gplusHoverColor : #c5402a;
$liveColor: #0076d6;
$liveHoverColor: #025fac;

oath-login-drv {
    .btn-wrap {
        height: $oathLoginDrvHeight;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        margin: 0 auto;

        .social-btn {       
            width: 40px;
            height: 40px;
            color: $bgColor3;
            position: relative;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @keyframes rotate {
               0% {
                  transform: rotate(0deg);
               }
               100% {
                  transform: rotate(360deg);
               }
            }

            .loader {
              position: absolute;
              width: 32px;
              height: 32px;
              border-radius: 50%;
               &.active-loader {
                  animation: rotate 2s linear infinite;
               }
            }
        }

        .facebook-btn {
            background-color: $facebookColor;
            &:hover {
                background-color: $facebookHoverColor;
            }
            svg-icon[name="facebook-icon"] {
                svg {
                    width: 8px;
                    fill: $bgColor3;
                }
            }
            .loader {
               &.active-loader {
                   border: 4px solid $facebookColor;
                   border-top: 4px solid rgba(0, 0, 0, 0.25);
                   border-bottom: 4px solid rgba(0, 0, 0, 0.25);
               }
            }
        }

        .gplus-btn {
            background-color: $gplusColor;
            &:hover {
                background-color: $gplusHoverColor;
            }
            svg-icon[name="google-icon"] {
                svg {
                    width: 18px;
                    fill: $bgColor3;
                }
            }
            .loader {
               &.active-loader {
                   border: 4px solid $gplusColor;
                   border-top: 4px solid rgba(0, 0, 0, 0.25);
                   border-bottom: 4px solid rgba(0, 0, 0, 0.25);
               }
            }
        }

        
        .live-btn {
            background-color: $liveColor;
            &:hover {
                background-color: $liveHoverColor;
            }
            svg-icon[name="microsoft-icon"] {
                svg {
                    width: 18px;
                    fill: $bgColor3;
                }
            }
            .loader {
               &.active-loader {
                   border: 4px solid $liveColor;
                   border-top: 4px solid rgba(0, 0, 0, 0.25);
                   border-bottom: 4px solid rgba(0, 0, 0, 0.25);
               }
            }
        }

        

        &.reset-btn{
            margin-top: 20px;
        }
    }
}
