<div class="btn-wrap" translate-namespace="OATH_SOCIAL">
    <button class="social-btn facebook-btn"
            ng-click="vm.socialAuth('facebook')"
            ng-if="vm.providers.facebook">
        <svg-icon name="facebook-icon"></svg-icon>
        <span class="loader ng-hide" ng-show="vm.loading.facebook.showSpinner"></span>
        <span translate=".CONNECT_WITH_FB"></span>
    </button>
    <button class="social-btn gplus-btn"
            ng-click="vm.socialAuth('google')"
            ng-if="vm.providers.google">
        <svg-icon name="google-icon"></svg-icon>
        <span class="loader ng-hide" ng-show="vm.loading.google.showSpinner"></span>
        <span translate=".CONNECT_WITH_GOOGLE"></span>
    </button>
</div>
