<div class="score-estimate-container base-border-radius base-box-shadow"
     ng-class="{'estimated-score-animation': d.enableEstimatedScoreChangeAnimation}"
     translate-namespace="ESTIMATED_SCORE_WIDGET_DIRECTIVE">
    <div class="title" translate="{{::widgetTitle}}"></div>
    <div class="unfinished-diagnostic-title" ng-if="!d.isDiagnosticComplete" translate=".UNFINISHED_DIAGNOSTIC_TITLE"></div>
    <div class="subjects-wrap">
        <div ng-repeat="widgetItem in d.subjectsScores track by widgetItem.subjectId"
             ng-click="d.onSubjectClick(widgetItem.subjectId)"
             ng-class="{ 'selected': (d.currentSubject === widgetItem.subjectId) }"
             class="subject"
             subject-id-to-attr-drv="{{widgetItem.subjectId}}"
             context-attr="class"
             tabindex="{{isNavMenu ? 0 : -1}}">
            <div class="subject-title">
                <span class="capitalize" translate="SUBJECTS.{{widgetItem.subjectId}}"></span>
                <span class="to-go" ng-if="widgetItem.pointsLeftToMeetUserGoal > 0"
                      translate=".PTS_TO_GO"
                      translate-values="{pts: {{widgetItem.pointsLeftToMeetUserGoal}} }"></span>
            </div>
            <div class="score" ng-if="widgetItem.showScore">
                <hr class="bar">
                <hr class="user-goal-fill"
                    subject-id-to-attr-drv="{{widgetItem.subjectId}}"
                    context-attr="class"
                    ng-style="{ width: widgetItem.userGoalPercentage + '%' }"
                    ng-class="{
                        'user-goal-met' : (widgetItem.estimatedScore >= widgetItem.userGoal),
                        'bar-full'    : (widgetItem.userGoalPercentage >= 100)
                    }">
                <hr class="current-estimated-score-fill"
                    subject-id-to-attr-drv="{{widgetItem.subjectId}}"
                    context-attr="class"
                    suffix="bg"
                    ng-style="{ width: widgetItem.estimatedScorePercentage + '%' }">
                <div class="current-estimated-score">
                        <span subject-id-to-attr-drv="{{widgetItem.subjectId}}"
                              context-attr="class"
                              suffix="bc"
                              ng-style="{ left: widgetItem.estimatedScorePercentage + '%' }">
                              <md-tooltip md-visible=""
                                          md-direction="top"
                                          class="tooltip-for-estimated-score-widget md-whiteframe-2dp">
                                  <div translate=".YOUR_GOAL" translate-values="{ goal: {{widgetItem.userGoal}} }" class="top-text"></div>
                                      <span class="bottom-text" ng-if="widgetItem.estimatedScore >= widgetItem.userGoal" translate=".GOAL_REACHED"></span>
                                      <span class="bottom-text" ng-if="widgetItem.estimatedScore" translate=".PTS_TO_GO" translate-values="{ pts: {{widgetItem.pointsLeftToMeetUserGoal}} }"></span>
                              </md-tooltip>
                            {{widgetItem.estimatedScore === 0 ? '?' : widgetItem.estimatedScore}}
                        </span>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="inner">
        <table class="score-summary">
            <tr class="composite" ng-if="!vm.ignoreCompositeScore">
                <td translate=".COMPOSITE_SCORE"></td>
                <td class="num">{{d.estimatedCompositeScore}}</td>
            </tr>
            <tr class="goal" ng-if="!vm.ignoreCompositeGoal">
                <td translate=".GOAL_SCORE"></td>
                <td class="num">{{d.userCompositeGoal}}</td>
            </tr>
        </table>
        <span class="edit-my-goals"
              ng-click="d.showGoalsEdit()"
              translate=".EDIT_MY_GOALS"></span>
    </div>
</div>
