md-toast.toast-wrap{
    width: 400px;
    height: 60px;
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #87CA4D;
    border-radius: 10px;

    .icon-wrap{
        width: 60px;
        margin: -8px;
        padding: 8px;
        background: #87CA4D;
        display: flex;
        justify-content: center;
        align-items: center;
        svg-icon{
            width: 40px;
            height: 40px;
            .complete-v-icon-svg{
                .st1, .st3 {
                    fill: #87CA4D;
                }
            }
        }
    }

    .md-toast-content{
        background: #FFFFFF;
        box-shadow: none;
        color: #4F4D4D;
        margin-left: 10px;
    }

    .close-toast-wrap{
        position: absolute;
        right: 3px;
        top: -10px;
        .close-pop-svg{
            width: 10px;
            .st1 {
                stroke: #4F4D4D;
            }
        }
    }

}
