<div class="leaving-so-soon-popup">

    <div class="close-popup-wrap" ng-click="vm.closeModal()">
        <svg-icon name="diagnostic-close-popup"></svg-icon>
    </div>

    <main class="content-wrapper">
        <div class="quicksand-25-b title" translate="LIVING_SO_SOON_POPUP.TITLE"></div>
        <div class="quicksand-16-n sub-title" translate="LIVING_SO_SOON_POPUP.SUB_TITLE"></div>

        <div class="btn-group">
            <button type="button" class="btn-type-1 save-btn" ng-click="vm.setNotifyTime(10, 'min')">
                <div class="quicksand-25-b">10</div>
                <div class="quicksand-16-n timeType">{{'LIVING_SO_SOON_POPUP.MIN' | translate}}</div>
            </button>
        </div>
        <div class="input-wrapper">
            <input type="email"
                   placeholder="{{'LIVING_SO_SOON_POPUP.EMAIL' | translate}}"
                   name="email" ng-model="vm.userEmail">
            <button type="button" class="btn-type-1 save-btn" translate="LIVING_SO_SOON_POPUP.GO"
                    ng-click="vm.sendReminder(vm.notifyTime, vm.userEmail)">
            </button>
        </div>
    </main>
</div>
