<znk-exercise-header
    subject-id="vm.params.subjectId"
    side-text=".DIAGNOSTIC_TEXT"
    options="{ showQuit: true }"
    on-clicked-quit="vm.onClickedQuit()">
</znk-exercise-header>
<diagnostic-intro show-instructions="true"></diagnostic-intro>
<div class="btn-wrap">
    <button autofocus tabindex="1" class="md-button znk md-primary" ng-click="vm.goToExercise()" translate="{{::vm.buttonTitle}}" aria-label="{{::vm.buttonTitle}}">
        <svg-icon name="diagnostic-dropdown-arrow-icon"></svg-icon>
    </button>
</div>
