a.md-button,
.md-button {
    @include text-style(16px, $fontColor2, Lato, $regularFontWeight, null,none);
    @include dimension(170px, 42px);
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    background: $bgColor8;
    border-radius: 21px;
    position: relative;

    i {
        margin-left: 10px;
    }
    i.positioned {
        position: absolute;
        left: 25px;
        top: 10px;
        margin-left: 0;
    }

    &.default{
        background-color: $transparent;
        color: $fontColor6;
        border: none;
        padding: 0;

        &:active{
            background-color: $transparent;
        }
        &:hover{
            background-color: $transparent;
        }
    }

    &.primary {
        background-color: $bgColor5;
        color: $fontColor1;
        &:active {
            background-color: $bgColor9;
        }
        &:hover {
            background-color: $bgColor10;
        }
    }

    &.warn {
        background-color: $bgColor2;
        color: $fontColor1;
        &:active {
            background-color: $bgColor11;
        }
        &:hover {
            background-color: $bgColor12;
        }
    }

    &.success {
        background-color: $bgColor7;
        color: $fontColor1;
        &:active {
            background-color: $bgColor13;
        }
        &:hover {
            background-color: $bgColor14;
        }

        &.drop-shadow {
            box-shadow: 0px 3px 0px 0px $bgColor15;
        }
    }

    &.facebook {
        background-color: $bgColor9;
        color: $fontColor1;
        &:active {
            background-color: $bgColor10;
        }
        &:hover, &:visited/*, &:focus */{
            background-color: $bgColor11;
        }
    }

    &.google {
        background-color: $bgColor16;
        color: $fontColor1;
        &:active {
            background-color: $bgColor10;
        }
        &:hover, &:visited/*, &:focus */{
            background-color: $bgColor17;
        }
    }

    &.outline-green {
        background: $bgColor2;
        border: 1px solid $borderColor3;
        color: $fontColor7;
        &:active {
            background-color: $bgColor18;
        }
    }

    &.outline-blue {
        background: $bgColor2;
        border: 1px solid $borderColor4;
        color: $fontColor6;
        &:active {
            background-color: $bgColor19;
        }
        &:hover {
            border-color: $bgColor9;
            color: $bgColor9;
        }
    }

    &.lg {
        width: 340px;
    }

    &.md {
        width: 280px;
    }
    &.md-sm {
        width: 220px;
    }

    &.sm {
        width: 130px;
    }

    &:not([disabled])/*.md-focused */{
        &.success {
            background-color: $bgColor19;
        }
        &.primary {
            background-color: $bgColor20;
        }
        &.default{
            background-color: $transparent;
        }
    }

    &.outline-green:not([disabled]):hover{
        background-color: $bgColor21;
    }
}

md-progress-linear{
    &.znk-progress-linear-exercise-bar  {
        .md-bar {
            background-color: $bgColor22;
            transition: 0.4s;
         }
    }
    &.green-state {
        .md-bar{
            background-color: $bgColor12;
        }
    }
    &.orange-state {
        .md-bar{
            background-color: $bgColor2;
        }
    }
    &.red-state {
        .md-bar{
            background-color: $bgColor18;
        }
    }
}

md-input-container{
    &.md-input-has-value{

        [ng-messages]{
            opacity: 0;
            margin-top: -100px;
        }
    }

    &:not(.md-input-invalid)/*.md-input-focused */{
        .md-input{
            border-color: $fontColor2;
        }
        label{
            color: $fontColor2;
        }
    }
}

md-tooltip {
    opacity: 0;
    width: auto;
    height: 87px;
    background: $bgColor1;
    padding:0 5px;
    .md-content {
        height: auto;
        text-align: center;
        background: $bgColor1;
        white-space: normal;
        // override and cancel .md-content transitions and transform
        &.md-show {
            opacity: 1;
            transform: none;
            transition: none;
            pointer-events: auto;
            will-change: auto;
        }
        &.md-show-remove {
            transition: none;
            &.md-show-remove-active {
                transform: none;
                opacity: 0;
            }
        }
        .top-text {
            margin: {
                top: 22px;
                bottom: 12px;
            }
            @include text-style(16px, $fontColor3, Lato, 400);
        }
        .bottom-text {
            line-height: 12px;
            @include text-style(12px, $fontColor3, Lato, 300);
        }
    }

    &.md-hide {
        transition: opacity 0.4s;
        opacity: 0;
    }

    &.md-show {
        opacity: 1;
        transition: opacity 0.4s;
        pointer-events: auto;
        will-change: opacity;
    }
}

md-dialog {
    .close-popup{
        width: 16px;
    }
}

.md-dialog-container {
    overflow: visible;
}
