/*border color*/
$borderColor1: #9a9797;
$borderColor2: #e5e2e2;
$borderColor3: #87ca4d;
$borderColor4: #0a9bad;
$borderColor5: #cccccc;
$borderColor6: #f4f4f4;

/*background*/
$transparent : transparent;
$bgColor1: white;
$bgColor2: #ff931e;
$bgColor3 : #ffffff;
$bgColor4: #E4E0E0;
$bgColor5: #0a9bad;
$bgColor6 : rgba(255, 255, 255, 0.8);
$bgColor7: #87ca4d;
$bgColor8: #fafaff;
$bgColor9: #037684;
$bgColor10: #0a8999;
$bgColor11: #a65e10;
$bgColor12: #d67914;
$bgColor13: #67a531;
$bgColor14: #76b63e;
$bgColor15: #72ab40;
$bgColor16: #df4a31;
$bgColor17: #D93418;
$bgColor18: #E8E8E8;
$bgColor19: #c7e0e3;
$bgColor20: #067f8e;
$bgColor21: rgba(255, 255, 255, 0.55);
$bgColor22: rgb(197,202,233);
$bgColor23: #f7f7f7;

/* box shadow */
$bsColor1: #ec881c;
$bsColor2: rgba(0, 0, 0, 0.23);
$bsColor3 : rgba(0, 0, 0, 0.27);

/* font color*/
$fontColor1: white;
$fontColor2: #161616;
$fontColor3: #4f4d4d;
$fontColor4: #757a83;
$fontColor5: #c2c2c2;
$fontColor6: #0a9bad;
$fontColor7: #87ca4d;
$fontColor8: #b7b7b7;

//Subjects colors
$mathColor : #AF89D2;
$verbalColor : #F9D41B;
$essayColor : #FF5895;
$writingColor : #FF5895;
$readingColor : #F9D41B;
$scienceColor : #51CDBA;
$englishColor : #AF89D2;
