/*border color*/
$borderColor1: #9a9797;
$borderColor2: #e5e2e2;
$borderColor3: #87ca4d;
$borderColor4: #0a9bad;
$borderColor5: #cfcfcf;
$borderColor6: #b7b7b7;
$borderColor7: #ebebeb;
$borderColor8: #cccccc;
$borderColor9: #f4f4f4;
$borderColor10: #81649c;
$borderColor11: #ffffff;
$borderColor12: rgba(0, 0, 0, 0.25);
$borderColor13: #acacac;
$borderColor14: #82ccd5;
$borderColor15: #dddddd;
$borderColor16: #dcdcdc;
$borderColor17: #f2f2f2;
$borderColor18: #c1c1c3;
$borderColor19: #e7e7e7;
$borderColor20: #CACACA;
$borderColor21: #e1e1e1;
$borderColor22: #ff6766;
$borderColor23: #c2c2c2;
$borderColor24: #d3d0d0;
$borderColor25: #000000;
$borderColor26: #e2e2e2;
$borderColor27: #fbfbfb;

/*background*/
$transparent : transparent;
$bgColor1: white;
$bgColor2: #ff931e;
$bgColor3 : #ffffff;
$bgColor4: #E4E0E0;
$bgColor5: #0a9bad;
$bgColor6 : rgba(255, 255, 255, 0.8);
$bgColor7: #87ca4d;
$bgColor8: #fafaff;
$bgColor9: #037684;
$bgColor10: #0a8999;
$bgColor11: #a65e10;
$bgColor12: #d67914;
$bgColor13: #67a531;
$bgColor14: #76b63e;
$bgColor15: #72ab40;
$bgColor16: #df4a31;
$bgColor17: #D93418;
$bgColor18: #E8E8E8;
$bgColor19: #c7e0e3;
$bgColor20: #067f8e;
$bgColor21: rgba(255, 255, 255, 0.55);
$bgColor22: rgb(197,202,233);
$bgColor23: #f7f7f7;
$bgColor24: #b7b7b7;
$bgColor25: #5ca7b0;
$bgColor26: rgba(10, 155, 173, 0.6);
$bgColor27: #f9f9f9;
$bgColor28: #f2f2f2;
$bgColor29: #f8f8f8;
$bgColor30: #cacaca;
$bgColor31: #acacac;
$bgColor32: #ff6766;
$bgColor33: #f6f6f6;
$bgColor34: #92969d;
$bgColor35: #fafafa;
$bgColor36: #085c66;
$bgColor37: #c9c9c9;
$bgColor38: #81649c;
$bgColor39: #e2f0f2;
$bgColor40: #fdfdfd;
$bgColor41: #dfdede;
$bgColor42: #FCFCFC;
$bgColor43: #ebebeb;
$bgColor44: #f4f4f4;
$bgColor45: #e1dfe3;
$bgColor46: #edc811;
$bgColor47: #f7f2f4;
$bgColor48 : #c2c2c2;
$bgColor49 : #c5cae9;
$bgColor50: rgba(0, 0, 0, 0.2);
$bgColor51: #c95050;
$bgColor52 : #252525;
$bgColor53 : #464646;
$bgColor54 : #B33520;
$bgColor55 : #088190;
$bgColor56 : #e4841d;
$bgColor57: #a6cfd4;
$bgColor58: #89ABAF;
$bgColor59: #89c650;
$bgColor60: #4f4d4d;
$bgColor61: #f0eded;
$bgColor62: #e1e1e1;
$bgColor63: #fbfbfb;
$bgColor64: #AF89D2;
$bgColor65: #9675b5;
$bgColor66: #f3f2f2;
$bgColor67: rgba(0, 0, 0, 0.94);

/* box shadow */
$bsColor1: #ec881c;
$bsColor2: rgba(0, 0, 0, 0.23);
$bsColor3 : rgba(0, 0, 0, 0.27);
$bsColor4 : rgba(190, 190, 190, 0.75);
$bsColor5: #0a9bad;
$bsColor6: rgba(0, 0, 0, 0.5);
$bsColor7: #72ab40;
$bsColor8: #e1e1e1;
$bsColor9: rgba(63, 63, 63, 0.2);
$bsColor10: rgba(0, 0, 0, 0.2);
$bsColor11: rgba(0, 0, 0, 0.14);
$bsColor12: rgba(0, 0, 0, 0.12);

/* font color*/
$fontColor1: white;
$fontColor2: #161616;
$fontColor3: #4f4d4d;
$fontColor4: #757a83;
$fontColor5: #c2c2c2;
$fontColor6: #0a9bad;
$fontColor7: #87ca4d;
$fontColor8: #ffffff;
$fontColor9: #b7b7b7;
$fontColor10: rgba(255,255,255, 0.6);
$fontColor11: #968E8E;
$fontColor12: #898989;
$fontColor13: #7d7d7d;
$fontColor14: #acacac;
$fontColor15: #968E8E;
$fontColor16: #626060;
$fontColor17: #ff6766;
$fontColor18: #CACACA;
$fontColor19: #9a9797;
$fontColor20: #659938;
$fontColor21: #eeeeee;
$fontColor22: #e5e5e5;
$fontColor23: #64b61d;
$fontColor24: #95959c;


/*********** MY ZINKERZ COLORS ***********/

/*colors*/

$transparent: transparent;
$white: #ffffff;
$bondiBlue: #0a9bad;
$kimberly: #797ea8;
$kimberlyDark: #6a6f95;
$mantis: #87ca4d;
$bittersweet: #ff6766;
$gimblet: #bcae6b;
$candlelight: #f9d41b;
$arleyCorn: #a6995e;
$seagull: #75cbe8;
$emperor: #4f4d4d;
$rollingStone: #757a83;
$manatee: #95959C;
$silverChalice: #acacac;
$nobel: #b7b7b7;
$silver: #c2c2c2;
$mercury: #e1e1e1;
$gallery: #ebebeb;
$alabaster: #f7f7f7;
$concreteSolid: #f2f2f2;
$bonJour: #E7E3E3;
$dustyGray: #9A9797;
$hintOfRed: #fbfafb;
$alto: #dfdfdf;
$athensGray: #efeff5;
$iceberg: #e0f3f5;
$bermuda: #80cdd6;
$downy: #78CAD3;
$treePoppy: #FF931E;
$eastSide: #AF89D2;
$cornflowerBlue: #333333;
$cararra: #EBEBE4;
$gold: #FFD700;
$dolly: #FFED85;
$malachite: #12B347;

/*Buttons States Colors*/

$blueChill: #0a8999;
$sushi: #76B63E;
$blueLagoon: #037684;
$oliveDrab: #619E2D;
$halfBaked: #81c4cc;
$feijoa: #AED88A;
$catskillWhite: #e2f0f2;
$botticelli: #c7e0e3;

/*Topics Colors*/

$mathTopic: #7a7fa9;
$englishTopic: #bdaf6b;

/* Services Colors */

$satColor: $bondiBlue;
$toeflColor: $treePoppy;
$actColor: $mantis;
$satsmColor: $eastSide;

/* Opacity Colors */
$opacityWhite: rgba(255, 255, 255, 0.8);

$satOpacity: rgba(10, 155, 173, 0.27);
$toeflOpacity: rgba(255, 147, 30, 0.27);
$actOpacity: rgba(135, 202, 77, 0.27);
$satsmOpacity: rgba(175, 137, 210, 0.27);

/* Input Colors */
$disabled: $cararra;
