/*border color*/
$borderColor1: #9a9797;
$borderColor2: #e5e2e2;
$borderColor3: #f2f2f2;
$borderColor4: #ebebeb;
$borderColor5: #87ca4d;
$borderColor6: #f8f8f8;
$borderColor7: #d3d0d0;

/*background*/
$bgColor1: white;
$bgColor2: #ff931e;
$bgColor3: #0a9bad;
$bgColor4: #f9f9f9;
$bgColor5: #87ca4d;

/* box shadow */
$bsColor1: #ec881c;
$bsColor2: rgba(0, 0, 0, 0.23);

/* font color*/
$fontColor1: white;
$fontColor2: #161616;
$fontColor3: #4f4d4d;
$fontColor4: #757a83;
$fontColor5: #c2c2c2;
$fontColor6: #0a9bad;
$fontColor7: #acacac;
$fontColor8: #898989;
