answer-explanation{
    .answer-explanation-wrapper {
        background: $bgColor40;

        .answer-explanation-close {
            height:14px;
            width: 14px;
            cursor: pointer;
            float:right;
        }

        .answer-explanation-header {
            @include dimension(100%, 5px);
            box-shadow: (0px 1px 1px 0.1px $bsColor4);
            position: absolute;
            z-index: 3;
            background-color: $bgColor5;

            .answer-explanation-btn {
                @include dimension(185px, 28px);
                box-shadow: (0px 4px 1px -2px $bsColor4);
                cursor: pointer;
                position: relative;
                background-color: $bgColor5;
                margin: 0 auto;
                border-radius: 0px 0px 10px 10px;

                .right-corner {
                    @include transform(rotate(25deg));
                    border-radius: 50px 0px 50px 1px;
                    right: -14px;
                    box-shadow: -7px -2px $bsColor5;
                }

                .left-corner {
                    @include transform(rotate(-25deg));
                    border-radius: 0 50px 1px 50px;
                    left: -14px;
                    box-shadow: 7px -2px $bsColor5;
                }

                .corner {
                    @include dimension(12px, 28px);
                    display: inline-block;
                    // margin: 0 auto;
                    position: absolute;
                    bottom: -3px;
                }

                .lamp-icon {
                    @include dimension(15px, 100%);
                    position: absolute;
                    top: 4px;
                    left: 8px;

                    path:first-child {
                        fill: transparent;
                    }
                    path {
                        stroke: $bgColor3;
                        fill: $bgColor3;
                    }
                }

                .text {
                    @include text-style(14px, $fontColor8, Quicksand, $regularFontWeight);
                    position: absolute;
                    left: 30px;
                    top: 5px;

                }
            }
        }

        .answer-explanation-window {
            @include dimension(auto, 360px);
            overflow-y: auto;
            transition: height ease 1s;
            border-top: 5px solid $bgColor5;
            position: relative;

            .title {
                padding: 15px 20px 0;
                text-align: center;
                @include text-style(18px, $fontColor2, Quicksand, bold);
            }

            svg-icon[name="close-popup"] {
                svg {
                    line {
                        stroke: $fontColor2;
                    }
                }
            }

            .flex-wrap {
                @include display-flex;
                padding-top:25px;
            }

            .written-solution-wrapper {
                width: 50%;
                padding: 0 20px;

                p:first-child {
                    margin-top:0;
                }

                .written-solution {
                    @include text-style(16px, $fontColor3, Lato, $lightFontWeight);
                }
            }

            .video-wrap {
                width: 50%;
                padding: 0 20px;
                position: relative;
                video {
                    @include dimension(454px, 254px);
                }
                .question-quid-text {
                    color: $fontColor14;
                    font-size: 10px;
                    position: absolute;
                    top: 272px;
                }
            }
        }

        .answer-explanation-window.ng-enter,
        .answer-explanation-window.ng-leave.ng-leave-active {
            height: 0;
        }

        .answer-explanation-window.ng-enter.ng-enter-active,
        .answer-explanation-window.ng-leave {
            height: 360px;
        }
    }
}
