complete-exercise-intro-tutorial{
    .intro-container{
        padding: {
            right: 180px;
            left: 180px;
        }

        .video-wrapper{
            margin-top: 35px;
            text-align: center;
        }

        .content-wrapper{
            margin: {
                top: 25px;
            }
        }
    }
}
