complete-exercise-intro-tutorial {
    display: block;
    @include absolute-position(50px, 0, 0, 0);

    .intro-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        & > *:not(.content-wrapper){
            flex-shrink: 0;
        }

        .upper-wrapper {
            margin-top: 35px;
            overflow: auto;
            height: 80%;
            .video-wrapper {
                text-align: center;
            }

            .content-wrapper {
                margin: {
                    top: 40px;
                    bottom: 100px;
                }
                padding: {
                    right: 180px;
                    left: 180px;
                }
            }
        }


        .btn-section {
            position: absolute;
            right: 15px;
            bottom: 10px;

            .md-button {
                padding: {
                    right: 45px;
                    left: 45px;
                }
            }
        }
    }
}
