@import 'src/scss/imports/variables',
'src/scss/imports/colors',
'bower_components/infra/dist/mixins/mixins';

// social auth login
@import 'oathLogin/main.scss';

// Material Icons
@import 'http://fonts.googleapis.com/icon?family=Material+Icons';

@font-face {
    font-family:"SourceSansPro";
    src:url("assets/fonts/SourceSansPro-Regular.otf");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"SourceSansPro-Light";
    src:url("assets/fonts/SourceSansPro-Light.otf");
    font-weight:normal;
    font-style:normal;
}

.md-open-menu-container {
    &.app-select-menu-open {
        border-radius: 20px;
        overflow: hidden;
    }
    md-menu-content#app-select-menu {
        flex-direction: row;
        padding: 8px 20px;
        md-menu-item {
            align-items: center;
            cursor: pointer;
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid $borderColor8;
            &:last-child {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
            }
            .app-img-holder {
                width: calc(175px / 2);
                height: calc(55px / 2);
                background-repeat: no-repeat;
                background-size: contain;
                padding: 0;
                &.sat {
                    background-image: url('assets/images/sat-name@2x.png');
                }
                &.act {
                    background-image: url('assets/images/act-name@2x.png');
                }
                &.toefl {
                    background-image: url('assets/images/toefl-name@2x.png');
                }
            }
        }
    }
}

login-app {
    a {
        color: inherit;
        text-decoration: none;
    }
    .login-app {
        height: 100%;
        margin: 0 auto;
        background: {
            color: #f7f7f7;
            image: url('assets/images/logo-pattern-bg.png');
        };
        font: {
            family: 'SourceSansPro', sans-serif;
            weight: $regularFontWeight;
        }
        & > header {
            width: 1366px;
            height: 84px;
            padding: 20px 0;
            margin: 0 auto;
            position: relative;
            box-sizing: border-box;
            .logo-wrapper {
                margin-left: 27px;
                float: left;
                position: relative;
                .logo {
                    width: 76px;
                    height: 36px;
                    float:left;
                    background: {
                        image: url('assets/images/zinkerz_logo.png');
                        repeat: no-repeat;
                        size: contain;
                    };
                }
                span {
                    font-size: 24px;
                    margin-left: 5px;
                    margin-top: 15px;
                    display: inline-block;
                }
            }
            .app-select {
                text-align: center;
                position: absolute;
                left: calc(50% - 90px);
                md-menu {
                    .md-button.md-default-theme:not([disabled]).md-icon-button:hover,
                    .md-button:not([disabled]).md-icon-button:hover {
                        background-color: #fbfcfc;
                    }
                    & > button {
                        width: 175px;
                        height: auto;
                        padding: 8px 15px;
                        background-color: #fbfcfc;
                        border-radius: 30px;
                        &:hover {
                            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
                        }
                    }
                }
                .app-img-holder {
                    width: calc(175px / 2);
                    height: calc(55px / 2);
                    background-repeat: no-repeat;
                    background-size: contain;
                    float:left;
                    &.sat {
                        background-image: url('assets/images/sat-name@2x.png');
                    }
                    &.act {
                        background-image: url('assets/images/act-name@2x.png');
                    }
                    &.toefl {
                        background-image: url('assets/images/toefl-name@2x.png');
                    }
                }
                .expand-menu {
                    float: right;
                }
            }
        }
        .main {
            padding: 0;
            position: relative;
            // width: 1366px;
            // height: 513px;
            // margin: 0 auto;
            //background: {
            //    size: 100% auto;
            //    repeat: no-repeat;
            //    // position: center center;
            //};

            img.main-banner {
                min-height: 513px;
            }

            h2.banner-text {
                font: {
                    size: 32px;
                    family: 'SourceSansPro-Light';
                    weight: 100;
                }
                color: $fontColor1;
                margin: 0;
                padding: 25px 30px;
                bottom: 0;
                position: absolute;
            }

            .login-container,
            .signup-container {
                position: absolute;
                top: 35px;
                right: 135px;
            }

            .go-to-login,
            .go-to-signup {
                margin-top: 15px;
                text-align: center;
                color: #fff;
                a {
                    text-decoration: underline;
                    cursor: pointer;
                }
                font: {
                    family: 'SourceSansPro-Light';
                }
            }

            signup-form,
            login-form {

            }
        }
        //&.educator {
        //    .main {
        //        background-image: url('assets/images/login-teacher-bg@2x.jpg');
        //    }
        //}
        //&.student {
        //    .main {
        //        background-image: url('assets/images/login-student-bg@2x.jpg');
        //    }
        //}
        &.sat {
            .app-bg {
                background: $bgColor5;
                &:hover {
                    background: $bgColor55
                }
            }
            .app-color {
                color: $bgColor5;
                &:hover {
                    color: $fontColor20;
                }
            }
        }
        &.act {
            .app-bg {  background: $bgColor7;  }
            .app-color {  color: $bgColor7;  }
        }
        &.toefl {
            .app-bg {
                background: $bgColor2;
                &:hover {
                    background: $bgColor56;
                }
            }
            .app-color {
                color: $bgColor2;
                &:hover {
                    color: $fontColor21;
                }
            }
        }

        .form-container {
            width: 400px;
            background: $bgColor40;
            border-radius: 15px;
            opacity: 0.95;
            padding: {
                right: 30px;
                left: 30px;
                bottom: 20px;
                top: 25px;
            };
            .title {
                text-align: center;
                padding: {
                    bottom: 15px;
                }
                color: $fontColor2;
                font:{
                    weight: $lightFontWeight;
                    size: 25px;
                }
            }

            .inputs-container{
                .input-wrapper{
                    box-sizing: border-box;
                    width: 340px;
                    border: 1px $borderColor1 solid;
                    border-radius: 30px;
                    background-color: $bgColor1;
                    margin: {
                        right: auto;
                        bottom: 11px;
                        left: auto;
                    }
                    padding:{
                        right: 9px;
                        left: 9px;
                    }
                    display: flex;
                    align-items: center;

                    &:last-child{
                        margin: {
                            bottom: 20px;
                        };
                    }

                    svg-icon {
                        width: 36px;
                    }

                    input {
                        height: 37px;
                        border: none;
                        flex-grow: 1;
                        padding: {
                            left: 5px;
                            right: 5px;
                            top: 0;
                            bottom: 0;
                        };
                        background-color: transparent;
                        @include placeholder(){
                            color: $fontColor3;
                            font:{
                                weight: $lightFontWeight;
                                size: 14px;
                            }
                        }
                        outline: none;
                        font:{
                            weight: $regularFontWeight;
                            size: 14px;
                        }
                        color: $fontColor2;
                    }
                }
            }

            .submit-btn-wrapper{
                text-align: center;
                button {
                    cursor: pointer;
                    box-sizing: border-box;
                    height: 37px;
                    width: 340px;
                    color: $fontColor1;
                    border-radius: 30px;
                    border: none;
                    font:{
                        size: 18px;
                        weight: $regularFontWeight;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }

            .forgot-pwd-wrapper {
                margin: {
                    top: 10px;
                    bottom: 5px;
                };
                text-align: right;
                color: $fontColor4;
                font:{
                    weight: $lightFontWeight;
                    size: 14px;
                    family: 'SourceSansPro-Light';
                }
            }

            .divider {
                width: 340px;
                position: relative;
                text-align: center;
                margin: 15px auto;

                &:before {
                    content: '';
                    position: absolute;
                    top: 11px;
                    right: 0;
                    left: 0;
                    border: 1px $borderColor2 solid;
                }

                .text {
                    display: inline-block;
                    background: $bgColor40;
                    position: relative;
                    z-index: 1;
                    padding: {
                        right: 15px;
                        left: 15px;
                    };
                    color: $fontColor5;
                    font:{
                        weight: $lightFontWeight;
                        size: 14px;
                    }
                }
            }

            &.signup {
                .signup-disclaimer {
                    text-align: center;
                    font-size: 10px;
                    color: $fontColor9;
                    margin-top:10px;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
        footer {
            text-align: center;
            padding-bottom: 40px;
            .switch-student-educator {
                font-weight:normal;
                h2 {
                    font-size: 23px;
                    color: $fontColor3;
                    margin-bottom: 5px;
                }
                a {
                    text-decoration: none;
                    font-size: 16px;
                    &:hover {

                    }
                }
            }
        }
    }
}
