<div class="znk-timeline-web-wrapper znk-scrollbar" translate-namespace="TIMELINE_WEB_WRAPPER">
    <div class="time-line-wrapper">
        <div class="progress-val"
             ng-style="vm.timelineMinMaxStyle"
             ng-if="vm.timeLineData.data.length">
            <div class="goal-wrapper">{{vm.goalPerSubject}}
                <div class="timeline-plus"
                     ng-if="vm.timelineLinePlus && vm.showInduction"
                     ng-class="{ 'red-point': vm.isRed, 'green-point': !vm.isRed }">
                    {{vm.timelineLinePlus}}
                </div>
            </div>
            <div class="progress-title"
                 ng-style="{ visibility: (vm.points) ? 'visiable' : 'hidden' }"
                 translate=".POINTS_LEFT"
                 translate-values="{points: {{vm.points}} }">
            </div>
        </div>
        <div class="tool-tip-area"
             ng-if="vm.showTooltips"
             ng-repeat="tooltip in vm.toolTipArr track by $index"
             ng-class="{'last-item':$last === true}"
             ng-style="{'top': $last === true ? (tooltip.lineTo.y+50) +'px' : (tooltip.lineTo.y+60) +'px', 'left': $last === true ? (tooltip.lineTo.x - 11) +'px' : (tooltip.lineTo.x-1)+'px'}">
            <md-tooltip md-direction="top" class="tooltip-box md-whiteframe-2dp">
                <div class="tooltip-content">
                    <div class="exercise-date">{{tooltip.time | date: 'MMM dd'}}</div>
                    <div class="exercise-title">{{tooltip.workoutTitle}}</div>
                    <div class="score-title" translate-values="{subjectName: vm.subjectEnumToValMap[vm.currentSubjectId]}" translate=".ESTIMATED_SUBJECT_SCORE"></div>
                    <div class="exercise-score">{{tooltip.score}}</div>
                </div>
            </md-tooltip>
        </div>
        <canvas znk-timeline
                timeline-data="vm.timeLineData"
                timeline-settings="vm.options">
        </canvas>
    </div>
</div>
