@import './src/scss/imports/variables',
        './src/scss/imports/colors',
        'bower_components/infra/dist/mixins/mixins';

login-form{
    width: 413px;
    background: $bgColor1;
    border-radius: 30px;
    font:{
        family: Lato;
    }
    padding: {
        right: 33px;
        left: 33px;
    };
    box-shadow: 0px 3px 9px 0px $bsColor2;

    .login-form-container{
        .title{
            padding: {
                top: 33px;
                bottom: 22px;
            }
            text-align: center;
            font-size: 39px;
            color: $fontColor2;
            font:{
                weight: $lightFontWeight;
                size: 39px;
            }
        }

        .inputs-container{
            .input-wrapper{
                box-sizing: border-box;
                width: 340px;
                border: 1px $borderColor1 solid;
                border-radius: 30px;
                margin: {
                    right: auto;
                    bottom: 11px;
                    left: auto;
                }
                padding:{
                    right: 21px;
                    left: 21px;
                }
                display: flex;
                align-items: center;


                &:last-child{
                    margin: {
                        bottom: 35px;
                    };
                }

                svg-icon{
                    width: 36px;
                }

                input{
                    height: 41px;
                    border: none;
                    flex-grow: 1;
                    padding: 0;
                    @include placeholder(){
                        color: $fontColor3;
                        font:{
                            family: Lato;
                            weight: $lightFontWeight;
                            size: 14px;
                        }
                    }
                    outline: none;
                    font:{
                        weight: $regularFontWeight;
                        size: 14px;
                    }
                    color: $fontColor2;
                }
            }
        }

        .submit-btn-wrapper{
            margin: {
                bottom: 15px;
            };
            text-align: center;

            button{
                box-sizing: border-box;
                height: 43px;
                width: 340px;
                color: $fontColor1;
                border-radius: 30px;
                border: none;
                background: $bgColor2;
                font:{
                    size: 18px;
                    weight: $regularFontWeight;
                }
                box-shadow: 0px 3px 0px 0px $bsColor1;
            }
        }

        .forgot-pwd-wrapper{
            margin: {
                bottom: 26px;
            };
            text-align: right;
            color: $fontColor4;
            font:{
                weight: $lightFontWeight;
                size: 14px;
            }
        }

        .divider{
            position: relative;
            text-align: center;

            &:before{
                content: '';
                position: absolute;
                top: 11px;
                right: 0;
                left: 0;
                border: 1px $borderColor2 solid;
            }

            .text{
                display: inline-block;
                background: $bgColor1;
                position: relative;
                z-index: 1;
                padding: {
                    right: 15px;
                    left: 15px;
                };
                color: $fontColor5;
                font:{
                    weight: $lightFontWeight;
                    size: 14px;
                }
            }
        }

        .social-auth-container{
            margin: {
                top: 28px;
                right: 44px;
                left: 44px;
            };
            text-align: center;
        }
    }
}
