<!DOCTYPE html>
<html lang="en" style="height: 100%;background: white">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="Swiper/dist/css/swiper.css" />
    <link rel="stylesheet" href="angular-material/angular-material.css" />
    <link rel="stylesheet" href="infra/dist/main.css" />
    <link rel="stylesheet" href="ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="angular-chart.js/dist/angular-chart.css" />
    <!-- endbower-->

    <link rel="stylesheet" href="main.css" />
    <style>
        .demo-wrap {
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: column;
        }
        .evaluate-review-states-wrapper.speaking {
            background-color: #f0ebf5;
        }
        .evaluate-review-states-wrapper.writing {
            background-color: #f7f2f4;
        }
        .question-index.speaking {
            background-color: #af89d2;
        }
        .question-index.writing {
            background-color: #ff5895;
        }
    </style>
</head>
<body ng-app="demo" ng-controller="Main">

   <div class="demo-wrap">
       <div style="width:1060px; margin-bottom: 50px;">
           <button ng-click="changeToPending()">change to pending</button>
           <button ng-click="changeToNotPurchase()">change to not purchase</button>
           <button ng-click="changeToEvaluated()">change to evaluated</button>
           <evaluate-question-review-states
               ng-model="stateData">
           </evaluate-question-review-states>
       </div>
       <div style="display: flex; justify-content: space-around; width: 50%;">
           <div style="display: flex; flex-direction: column;">
                   <span><b>Speaking</b></span>
                   <br>
                   <span>weak - 0 - 1</span>
                   <br>
                   <span>limited - 1.5 - 2</span>
                   <br>
                   <span>fair - 2.5 - 3</span>
                   <br>
                   <span>good - 3.5 - 4</span>
                   <br>
                   <span><b>Writing</b></span>
                   <br>
                   <span>limited - 1 - 2</span>
                   <br>
                   <span>fair - 2.5 - 3.5</span>
                   <br>
                   <span>good - 4 - 5</span>
           </div>
           <div>
               <div><b>Writing</b></div>
               <br>
               <evaluate-result points="1" type="2"></evaluate-result>
               <evaluate-result points="1.5" type="2"></evaluate-result>
               <evaluate-result points="2" type="2"></evaluate-result>
               <evaluate-result points="2.5" type="2"></evaluate-result>
               <evaluate-result points="3" type="2"></evaluate-result>
               <evaluate-result points="3.5" type="2"></evaluate-result>
               <evaluate-result points="4" type="2"></evaluate-result>
               <evaluate-result points="4.5" type="2"></evaluate-result>
               <evaluate-result points="5" type="2"></evaluate-result>
           </div>
           <div>
               <div><b>Speaking</b></div>
               <br>
               <evaluate-result points="0.5" type="4"></evaluate-result>
               <evaluate-result points="1" type="4"></evaluate-result>
               <evaluate-result points="1.5" type="4"></evaluate-result>
               <evaluate-result points="2" type="4"></evaluate-result>
               <evaluate-result points="2.5" type="4"></evaluate-result>
               <evaluate-result points="3" type="4"></evaluate-result>
               <evaluate-result points="3.5" type="4"></evaluate-result>
               <evaluate-result points="4" type="4"></evaluate-result>
           </div>
       </div>
       <div style="margin-top:50px; display: flex; align-items: center;">
           <!--evaluated-->
           <evaluate-question-result
               question-result="{
                      index: 1,
                      userAnswer: 'text'
                   }" evaluator-data="{
                      score: 2.5
                   }" exercise-type="2">
           </evaluate-question-result>
           <!--skipped-->
           <evaluate-question-result
               question-result="{
                      index: 2,
                      userAnswer: true
                   }" exercise-type="4">
           </evaluate-question-result>
           <!--skipped-->
           <evaluate-question-result
               question-result="{
                      index: 3
                   }" exercise-type="2">
           </evaluate-question-result>
           <!--completed-->
           <evaluate-question-result
               question-result="{
                      index: 4,
                      userAnswer: 'text'
                   }" exercise-type="4">
           </evaluate-question-result>
       </div>
   </div>

    <!-- bower:js -->
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>
    <script src="Swiper/dist/js/swiper.js"></script>
    <script src="firebase/firebase.js"></script>
    <script src="ng-idle/angular-idle.js"></script>
    <script src="SHA-1/sha1.js"></script>
    <script src="angulartics/src/angulartics.js"></script>
    <script src="angular-translate/angular-translate.js"></script>
    <script src="angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <script src="plivo/dist/plivo.min.js"></script>
    <script src="angular-messages/angular-messages.js"></script>
    <script src="angular-material/angular-material.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="infra/dist/main.js"></script>
    <script src="ng-tags-input/ng-tags-input.js"></script>
    <script src="Chart.js/Chart.js"></script>
    <script src="angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower-->

    <script src="main.js"></script>
    <script src="demo.js"></script>
    <script src="infra/demoShared/analyticsConfig.js"></script>
    <script src="znkEvaluateResult.config.js"></script>
    <script src="env.service.js"></script>
</body>
</html>
