<div class="lesson-rating-popup" ng-if="vm.lesson && vm.lessonSummary">

    <div class="znk-popup-header">
        <div class="icon-wrapper">
            <svg-icon name="znkLessonNotes-star"></svg-icon>
        </div>
        <div class="close-popup-wrap" ng-click="vm.closeModal()">
            <svg-icon name="znkLessonNotes-close-popup"></svg-icon>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="znk-scrollbar">
            <div class="quicksand-25-b title" translate="LESSON_NOTES.LESSON_RATING_POPUP.TITLE"></div>

            <znk-lesson-details lesson="vm.lesson" lesson-summary="vm.lessonSummary" user-context="vm.userContext"></znk-lesson-details>
            <div class="divider"></div>

            <znk-lesson-rating lesson="vm.lesson" lesson-summary="vm.lessonSummary" user-context="vm.userContext"></znk-lesson-rating>
        </div>
        <div class="btn-group">
            <button type="button" class="btn-type-1 save-btn" ng-click="vm.submit()">
                <span class="btn-text" translate="LESSON_NOTES.SUBMIT"></span>
                <span class="spinner" ng-if="vm.showSpinner"></span>
            </button>

            <button type="button" class="btn-type-link" ng-click="vm.closeModal()"
                    translate="LESSON_NOTES.DO_IT_LATER">
            </button>
        </div>
    </div>
</div>
