<section class="step" translate-namespace="ON_BOARDING.GOALS">
    <div class="goals">
        <div class="main-title" translate=".SET_SCORE_GOALS"></div>
        <div class="sub-title" translate=".WHATS_YOUR_DREAM_SCHOOL"></div>
        <div class="select-schools-title" translate=".SELECT_3_DREAM_SCHOOLS"></div>
        <school-select user-schools="vm.userSchools"
                       events="vm.schoolSelectEvents">
        </school-select>
        <div class="light-title" ng-click="vm.skipSelection()" translate=".I_DONT_KNOW"></div>
    </div>
    <div class="bg-wrap">
        <div class="thinking-raccoon"></div>
    </div>
</section>
<on-boarding-bar step="goals"></on-boarding-bar>
