<section class="step make-padding" translate-namespace="ON_BOARDING.WELCOME">
    <div class="welcome">
        <div class="main-title">
            <span translate=".WELCOME"></span>,
            <span class="user-name">{{vm.username}}!</span>
        </div>
        <div class="sub-title">
            <div translate=".THANK_YOU_MESSAGE"></div>
            <span translate=".ZINKERZ_APP_WELCOME_TEXT"></span>
        </div>
        <div class="sub-title" translate=".WE_ARE_HERE_TO_HELP"></div>
        <div class="btn-wrap">
            <md-button autofocus tabindex="1" class="md-primary znk inline-block" ng-click="vm.nextStep()" ng-cloak>
                <div class="btn-text">
                    <span translate=".CONTINUE" class="continue-title"></span>
                    <svg-icon name="on-boarding-dropdown-arrow-icon" class="dropdown-arrow-icon"></svg-icon>
                </div>
            </md-button>
        </div>
    </div>
    <div class="smile-raccoon"></div>
</section>
<on-boarding-bar step="welcome"></on-boarding-bar>
