.base-complete-exercise-container{
    width: 1060px;
    height: calc(100vh - 95px);
    background: $bgColor1;
    display: block;
    margin: auto;
    box-shadow: 0 3px 7px 0 $bsColor3;
    border-radius: 15px;
}
