@import './src/scss/imports/variables',
        './src/scss/imports/colors',
        './bower_components/angular-material/angular-material.scss',
        './bower_components/infra/dist/mixins/mixins',
        './src/scss/imports/angular-material-override';

/**
*  FONTS
*/
/* Lato fonts from google*/
@import url(#{$googleFontCDN}css?family=Lato:300);
@import url(#{$googleFontCDN}css?family=Lato:300italic);
@import url(#{$googleFontCDN}css?family=Lato:400);
@import url(#{$googleFontCDN}css?family=Lato:400italic);
/* Quicksand fonts */
@import url(#{$googleFontCDN}css?family=Quicksand);
@import url(#{$googleFontCDN}css?family=Quicksand:300);
@import url(#{$googleFontCDN}css?family=Quicksand:700);
/* Material+Icons */
@import url(#{$googleFontCDN}icon?family=Material+Icons);

diagnostic-intro {
    width: 100%;
    .diagnostic-intro-drv {
        text-align: center;

            .diagnostic-text {
                margin: 20px auto;
                max-height: 45px;
                @include text-style(16px, $fontColor3, Lato, $lightFontWeight);
            }

        .raccoon-img-container{
            position: relative;

            .raccoon-img-wrapper {
                .diagnostic-raccoon {
                    position: relative;
                    top: -48px;
                    background-size: contain;
                    @include full-background-image-retina('./diagnosticIntro/assets/images/diagnostic-raccoon', 160px, 169px);
                }
            }
        }


        .icons-section {
                display: flex;
                justify-content: space-around;
                width: 40%;
                margin: 0 auto;
                min-height: 140px;
                .icon-circle {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    display: inline-block;
                    border: 2px solid;
                    border-color: $borderColor8;
                    position: relative;

                    &.done {
                        .icon-wrapper {
                            svg-icon{
                                &.subject-icon{
                                    display: none;
                                }

                                &.section-complete {
                                    display: block;
                                }
                            }
                        }
                    }

                    .icon-wrapper {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        vertical-align: top;

                        .subject-icon {
                            width: 45px;
                        }

                        svg-icon {
                            &.section-complete {
                                display: none;
                                width: 65%;
                                svg {
                                    line {
                                        stroke: $bgColor1;
                                        stroke-width: 30px;
                                    }
                                }
                            }
                        }

                        &.onlySubjectIcon {
                            svg-icon.section-complete {
                                display: none;
                            }
                            .subject-icon {
                                display: inline-block;
                            }
                        }
                        &.onlyDoneIcon {
                            .subject-icon {
                                display: none;
                            }
                            svg-icon.section-complete {
                                display: inline-block;
                            }
                        }
                    }
                }
        }

        .section-question {
            @include text-style(18px, $fontColor4, Lato, $regularFontWeight);
            text-transform: uppercase;
            .diagnostic-instructions {
                margin-top: 40px;
                text-transform: none;
                display: flex;
                flex-direction: column;
                padding: {
                    right: 110px;
                    left: 110px;
                };
                .diagnostic-instructions-title {
                    @include text-style(16px, $fontColor3, Lato, $normalFontWeight);
                }
                .diagnostic-instructions-text {
                    @include text-style(16px, $fontColor3, Lato, $lightFontWeight);
                    margin-top: 5px;
                    min-height: 38px;
                }
            }
        }
    }
}
