<div class="form-container" translate-namespace="CHANGE_PASSOWRD_FORM">
    <form novalidate
          name="loginform"
          ng-submit="loginSubmit(loginform)">
        <div class="inputs-container">
            <div class="title" translate=".RESET_PASSWORD"></div>
            <div class="input-wrapper"
                 ng-class="loginform.email.$invalid && loginform.$submitted ? 'invalid' : 'valid'">
                <svg-icon name="form-envelope"></svg-icon>
                <input type="email"
                       placeholder="{{'LOGIN_FORM.EMAIL' | translate}}"
                       name="email"
                       ng-model="d.loginFormData.email"
                       required>
                <span ng-if="loginform.$submitted && loginform.email.$invalid && !loginform.email.$dirty"
                      role="alert">
            <span class="validationBox">
                <span ng-show="loginform.email.$error.required"
                      translate="LOGIN_APP.FORM_VALIDATION.FIELD_IS_EMPTY"></span>
            </span>
        </span>
            </div>
        </div>
        <div class="submit-btn-wrapper">
            <button type="submit"
                    ng-disabled="d.disableBtn"
                    class="app-bg"
                    autofocus>
                <span translate=".SEND"></span>
                <!--<span class="loader ng-hide" ng-show="d.showSpinner"></span>-->
            </button>
        </div>
    </form>
</div>
