<div class="form-container login" translate-namespace="LOGIN_FORM">
    <div class="title" translate="LOGIN_FORM.STUDENT.LOGIN" ng-if="userContext===d.userContextObj.STUDENT"></div>
    <div class="title" translate="LOGIN_FORM.EDUCATOR.LOGIN" ng-if="userContext===d.userContextObj.TEACHER"></div>
    <promo-code></promo-code>
    <div class="social-auth-container">
        <div class="social-auth">
            <oath-login-drv
                app-context="appContext"
                user-context="userContext"
                providers="{facebook:true,google:true}">
            </oath-login-drv>
        </div>
    </div>
    <div class="divider">
        <div translate=".OR" class="text"></div>
    </div>
    <form novalidate
          name="loginform"
          ng-submit="loginSubmit(loginform)">
        <div class="inputs-container">
            <div class="input-wrapper"
                 ng-class="loginform.email.$invalid && loginform.$submitted ? 'invalid' : 'valid'">
                <svg-icon name="form-envelope"></svg-icon>
                <input type="email"
                       placeholder="{{'LOGIN_FORM.EMAIL' | translate}}"
                       name="email"
                       ng-model="d.loginFormData.email"
                       required>
                <span ng-if="loginform.$submitted && loginform.email.$invalid && !loginform.email.$dirty"
                      role="alert">
                    <span class="validationBox">
                        <span ng-show="loginform.email.$error.required"
                              translate="LOGIN_APP.FORM_VALIDATION.FIELD_IS_EMPTY"></span>
                    </span>
                </span>
            </div>
            <div class="input-wrapper"
                 ng-class="loginform.password.$invalid && loginform.$submitted ? 'invalid' : 'valid'">
                <svg-icon name="form-lock"></svg-icon>
                <input type="password"
                       placeholder="{{'LOGIN_FORM.PASSWORD' | translate}}"
                       name="password"
                       autocomplete="off"
                       ng-minlength="6"
                       ng-maxlength="25"
                       ng-model="d.loginFormData.password"
                       required>
                <span ng-if="loginform.$submitted && loginform.password.$invalid && !loginform.password.$dirty"
                      role="alert">
                    <span class="validationBox">
                        <span ng-show="loginform.password.$error.required"
                              translate="LOGIN_APP.FORM_VALIDATION.FIELD_IS_EMPTY"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="submit-btn-wrapper">
            <button type="submit"
                    ng-disabled="d.disableBtn"
                    class="app-bg"
                    autofocus>
                <span translate=".LOGIN_IN"></span>
                <span class="loader ng-hide" ng-show="d.showSpinner"></span>
            </button>
        </div>
        <div class="forgot-pwd-wrapper">
            <span class="app-color" translate=".FORGOT_PWD" ng-click="changePasswordClick()"></span>
        </div>
        <p class="general-error">{{d.loginError}}</p>
    </form>
</div>



