<div class="form-container login" translate-namespace="LOGIN_FORM">
    <div class="title" translate="LOGIN_FORM.STUDENT.LOGIN" ng-if="userContext===d.userContextObj.STUDENT"></div>
    <div class="title" translate="LOGIN_FORM.EDUCATOR.LOGIN" ng-if="userContext===d.userContextObj.TEACHER"></div>
    <div class="social-auth-container">
        <div class="social-auth">
            <oath-login-drv
                app-context="appContext"
                user-context="userContext"
                providers="{facebook:true,google:true}">
            </oath-login-drv>
        </div>
    </div>
    <div class="divider">
        <div translate=".OR" class="text"></div>
    </div>
    <form novalidate
          name="loginform"
          ng-submit="loginSubmit(loginform)">
        <div class="inputs-container">
            <div class="input-wrapper">
                <svg-icon name="form-envelope"></svg-icon>
                <input type="text"
                       placeholder="{{'LOGIN_FORM.EMAIL' | translate}}"
                       name="email"
                       ng-model="d.loginFormData.email">
            </div>
            <div class="input-wrapper">
                <svg-icon name="form-lock"></svg-icon>
                <input type="password"
                       placeholder="{{'LOGIN_FORM.PASSWORD' | translate}}"
                       name="password"
                       autocomplete="off"
                       ng-minlength="6"
                       ng-maxlength="25"
                       ng-required="true"
                       ng-model="d.loginFormData.password">
            </div>
        </div>
        <div class="submit-btn-wrapper">
            <button type="submit"
                    ng-disabled="d.disableBtn"
                    class="app-bg"
                    autofocus>
                <span translate=".LOGIN_IN"></span>
                <div class="loader ng-hide" ng-show="d.showSpinner"></div>
            </button>
        </div>
        <div class="forgot-pwd-wrapper">
            <span class="app-color" translate=".FORGOT_PWD"></span>
        </div>
    </form>

</div>
