<div class="login-app" ng-class="{
        student: d.userContext === d.userContextObj.STUDENT,
        educator: d.userContext === d.userContextObj.TEACHER,
        sat: d.appContext === d.availableApps.SAT,
        act: d.appContext === d.availableApps.ACT,
        toefl: d.appContext === d.availableApps.TOEFL,
    }">
    <header>
        <div class="logo"></div>

        <div class="app-select" ng-cloak>
            <md-menu md-offset="-100 80" md-no-ink>
                <md-button aria-label="Open App Select Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon class="material-icons expand-menu">expand_more</md-icon>
                    <div class="app-img-holder {{d.appContext.className}}"></div>
                </md-button>
                <md-menu-content width="4" class="app-select-menu">
                    <md-menu-item ng-repeat="app in d.availableApps track by app.id" ng-click="selectApp(app)">
                        <div class="app-img-holder {{app.className}}"></div>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </header>
    <div class="main">
        <ng-switch on="currentForm">
            <div class="login-container" ng-switch-when="login">
                <login-form app-context="d.appContext"
                            user-context="d.userContext">
                </login-form>
                <div class="go-to-signup" ng-click="changeCurrentForm('signup')">Sign Up</div>
            </div>
            <div class="signup-container" ng-switch-when="signup">
                <signup-form app-context="d.appContext"
                             user-context="d.userContext">
                </signup-form>
                <div class="go-to-login" ng-click="changeCurrentForm('login')">Log In</div>
            </div>
        </ng-switch>
        <!--<div ng-show="currentForm === 'login'" class="go-to-signup ng-hide" ng-click="currentForm = 'signup'">Sign Up</div>-->
        <!--<div ng-show="currentForm === 'signup'" class="go-to-login ng-hide" ng-click="currentForm = 'login'">Log In</div>-->
    </div>
    <footer>
        <ng-switch on="currentUserContext">
            <div ng-switch-when="teacher">
                <h2>Check out our App for Students</h2>
                <a href="" ng-click="changeUserContext(d.userContextObj.STUDENT)">Check out Zinkerz tools for teachers</a>
            </div>
            <div ng-switch-when="student">
                <h2>Are you an educator?</h2>
                <a href="" ng-click="changeUserContext(d.userContextObj.TEACHER)">Check out Zinkerz tools for teachers</a>
            </div>
        </ng-switch>
    </footer>
</div>
