<div class="login-app" ng-class="{student: true, educator: false}">
    <header>
        <div class="logo"></div>

        <div class="app-select" ng-cloak>
            <md-menu md-offset="0 60" md-no-ink>
                <md-button aria-label="Open App Select Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <div class="app-img-holder"></div>
                    <md-icon class="material-icons expand-menu">expand_more</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="app in d.availableApps track by app.id" ng-click="selectApp(app)">
                        <md-button>{{app.name}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            {{d.appContext.name}}
        </div>

    </header>
    <div class="main">
        <ng-switch on="currentForm">
            <div ng-switch-when="login">
                <login-form app-context="d.appContext"
                            user-context="d.userContext">
                </login-form>
            </div>
            <div ng-switch-when="signup">
                <signup-form app-context="d.appContext"
                             user-context="d.userContext">
                </signup-form>
            </div>
            <div ng-click="currentForm = 'signup'">Sign Up</div>
            <div ng-click="currentForm = 'login'">Log In</div>
        </ng-switch>
    </div>
    <footer>
        <ng-switch on="d.studentContext">
            <div>
                <h2>Check out our App for Students</h2>
                <a href="" ng-click="changeUserContext()">Check out Zinkerz tools for teachers</a>
            </div>
            <div>
                <h2>Are you an educator?</h2>
                <a href="" ng-click="changeUserContext()">Check out Zinkerz tools for teachers</a>
            </div>
        </ng-switch>
    </footer>
</div>
