<div class="btn-wrap" translate-namespace="OATH_SOCIAL">
    <button class="btn facebook-btn"
            ng-click="vm.socialAuth('facebook')"
            ng-if="vm.providers.facebook"
            element-loader
            fill-loader="vm.loading.facebook.fillLoader"
            show-loader="vm.loading.facebook.startLoader"
            bg-loader="'#315880'"
            precentage="50"
            font-color="'#FFFFFF'"
            bg="'#369'">
        <svg-icon name="facebook-icon"></svg-icon>
        <span translate=".CONNECT_WITH_FB"></span>
    </button>
    <button class="btn gplus-btn"
            ng-click="vm.socialAuth('google')"
            ng-if="vm.providers.google"
            element-loader
            fill-loader="vm.loading.google.fillLoader"
            show-loader="vm.loading.google.startLoader"
            bg-loader="'#BD3922'"
            precentage="50"
            font-color="'#FFFFFF'"
            bg="'#df4a31'">
        <svg-icon name="google-icon"></svg-icon>
        <span translate=".CONNECT_WITH_GOOGLE"></span>
    </button>
</div>
