<div class="promo-code-wrapper" translate-namespace="PROMO_CODE">
    <div class="promo-code-title" translate=".GOT_A_PROMO_CODE" ng-click="d.showPromoCodeOverlay = !d.showPromoCodeOverlay"></div>

    <div class="promo-code-overlay" ng-if="d.showPromoCodeOverlay">

        <div class="promo-code-input-wrapper">
            <div class="input-wrapper"
                 ng-class="{
             'promo-code-accepted': d.promoCodeStatus === d.promoCodeStatusConst.accepted,
             'promo-code-invalid': d.promoCodeStatus === d.promoCodeStatusConst.invalid
             }">
                <md-progress-circular ng-if="d.showSpinner"
                                      class="promo-code-spinner"
                                      md-mode="indeterminate"
                                      md-diameter="25">
                </md-progress-circular>
                <input
                    type="text"
                    ng-model="d.promoCode"
                    ng-keydown="d.keyDownHandler($event, d.promoCode)"
                    ng-autofocus ="true"
                    placeholder="{{'PROMO_CODE.ENTER_YOUR_CODE' | translate}}">
                <div class="icon-wrapper" >
                    <svg-icon class="arrow-icon" name="promo-code-arrow-icon" ng-click="d.sendPromoCode(d.promoCode)"></svg-icon>
                    <svg-icon class="close-icon" name="promo-code-close-icon" ng-click="d.clearInput()"></svg-icon>
                    <svg-icon class="correct-icon" name="promo-code-correct-icon"  ng-click="d.showPromoCodeOverlay = !d.showPromoCodeOverlay"></svg-icon>
                </div>

                <div class="promo-code-status-text">
                    {{d.promoCodeStatusText}}
                </div>
            </div>
        </div>

    </div>
</div>
