<div class="form-container signup" translate-namespace="SIGNUP_FORM">
    <div class="title" translate=".STUDENT.CREATE_ACCOUNT" ng-if="userContext===d.userContextObj.STUDENT"></div>
    <div class="title" translate=".EDUCATOR.CREATE_ACCOUNT" ng-if="userContext===d.userContextObj.TEACHER"></div>

    <promo-code
        user-context-const="d.userContextObj"
        user-context="userContext"
        app-context="appContext">
    </promo-code>

    <div class="social-auth-container">
        <div class="social-auth">
            <oath-login-drv
                app-context="appContext"
                user-context="userContext"
                providers="{facebook:true,google:true,live:true}">
            </oath-login-drv>
        </div>
    </div>
    <div class="divider">
        <div translate=".OR" class="text"></div>
    </div>
    <form novalidate
          name="signupForm"
          ng-submit="signupSubmit(signupForm)">
        <div class="inputs-container">
            <div class="input-wrapper" ng-class="signupForm.nickname.$invalid && signupForm.$submitted ? 'invalid' : 'valid'">
                <svg-icon name="login-username-icon"></svg-icon>
                <input type="text"
                       placeholder="{{'SIGNUP_FORM.NAME' | translate}}"
                       name="nickname"
                       ng-model="d.signupFormData.nickname"
                       required>
                <span ng-if="signupForm.$submitted && signupForm.nickname.$invalid && !signupForm.nickname.$dirty"
                      role="alert">
                    <span class="validationBox">
                        <span ng-show="signupForm.nickname.$error.required" translate="LOGIN_APP.FORM_VALIDATION.FIELD_IS_EMPTY"></span>
                    </span>
                </span>
            </div>
            <div class="input-wrapper" ng-class="signupForm.email.$invalid && signupForm.$submitted ? 'invalid' : 'valid'">
                <svg-icon name="form-envelope"></svg-icon>
                <input type="email"
                       placeholder="{{'SIGNUP_FORM.EMAIL' | translate}}"
                       name="email"
                       ng-model="d.signupFormData.email"
                       required>
                <span ng-if="(signupForm.$submitted && signupForm.email.$invalid && !signupForm.email.$dirty) ||
                (signupForm.$submitted && signupForm.email.$error)" role="alert">
                    <span class="validationBox">
                        <span ng-show="signupForm.email.$error.required" translate="LOGIN_APP.FORM_VALIDATION.FIELD_IS_EMPTY"></span>
                        <span class="email-exist-massage" ng-show="signupForm.email.$error.emailTaken" translate="LOGIN_APP.FORM_VALIDATION.EMAIL_TAKEN"></span>
                    </span>
                </span>
            </div>
            <div class="input-wrapper" ng-class="signupForm.password.$invalid && signupForm.$submitted ? 'invalid' : 'valid'">
                <svg-icon name="form-lock"></svg-icon>
                <input type="password"
                       placeholder="{{'SIGNUP_FORM.PASSWORD' | translate}}"
                       name="password"
                       ng-model="d.signupFormData.password"
                       ng-minlength="6"
                       ng-maxlength="25"
                       autocomplete="off"
                       required>
                <span ng-if="signupForm.$submitted && signupForm.password.$invalid"
                      role="alert">
                    <span class="validationBox">
                        <span ng-show="signupForm.password.$error.minlength" translate="LOGIN_APP.FORM_VALIDATION.PASSWORD_TOO_SHORT"></span>
                        <span ng-show="signupForm.password.$error.maxlength" translate="LOGIN_APP.FORM_VALIDATION.PASSWORD_TOO_LONG"></span>
                        <span ng-show="signupForm.password.$error.required" translate="LOGIN_APP.FORM_VALIDATION.FIELD_IS_EMPTY"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="submit-btn-wrapper">
            <button type="submit"
                    ng-disabled="d.disableBtn"
                    class="app-bg"
                    autofocus>
                <span translate=".SIGN_UP"></span>
                <div class="loader ng-hide" ng-show="d.showSpinner"></div>
            </button>
        </div>
        <p class="signup-disclaimer"
           translate-values="{termsOfUseHref: d.termsOfUseHref, privacyPolicyHref: d.privacyPolicyHref}"
           translate=".DISCLAIMER"></p>

        <p class="general-error">{{d.signupError}}</p>
    </form>
</div>
