<form novalidate class="form-container"
      ng-submit="signupSubmit()"
      translate-namespace="SIGNUP_FORM">
    <div class="title" translate=".STUDENT.CREATE_ACCOUNT" ng-if="userContext===d.userContext.STUDENT"></div>
    <div class="title" translate=".EDUCATOR.CREATE_ACCOUNT" ng-if="userContext===d.userContext.TEACHER"></div>
    <!--<div class="social-auth-container">-->
    <!--<div class="social-auth">-->
    <!--<oath-login-drv providers="{facebook:true,google:true}"></oath-login-drv>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="divider">-->
    <!--<div translate=".OR" class="text"></div>-->
    <!--</div>-->
    <div class="inputs-container">
        <div class="input-wrapper">
            <svg-icon name="form-envelope"></svg-icon>
            <input type="text"
                   placeholder="{{'SIGNUP_FORM.NAME' | translate}}"
                   name="nickname"
                   ng-model="d.signupFormData.nickname">
        </div>
        <div class="input-wrapper">
            <svg-icon name="form-envelope"></svg-icon>
            <input type="text"
                   placeholder="{{'SIGNUP_FORM.EMAIL' | translate}}"
                   name="email"
                   ng-model="d.signupFormData.email">
        </div>
        <div class="input-wrapper">
            <svg-icon name="form-lock"></svg-icon>
            <input type="password"
                   placeholder="{{'SIGNUP_FORM.PASSWORD' | translate}}"
                   name="password"
                   ng-model="d.signupFormData.password">
        </div>
    </div>
    <div class="submit-btn-wrapper">
        <button type="submit" translate=".SIGNUP" class="app-color"></button>
    </div>
    <!--<div class="forgot-pwd-wrapper">-->
    <!--<span translate=".FORGOT_PWD"></span>-->
    <!--</div>-->
</form>
