<!DOCTYPE html>
<html lang="en" style="height: 100%;background: rgba(43, 43, 191, 0.08);">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="angular-material/angular-material.css">
    <link rel="stylesheet" href="uiTheme/main.css">
    <style>
        .main-container{
            text-align: center;
        }
    </style>
</head>
<body ng-app="demo">
<div class="main-container">
    <div>
        <md-button class="md-primary znk"
                   md-no-ink
                   ng-disabled="disable.primary"
                   ng-cloak>md-primary
        </md-button>
        <button ng-click="disable.primary = !disable.primary;">disable</button>
    </div>
    <div>
        <md-button class="md-primary znk"
                   href="localhost:9002"
                   md-no-ink
                   ng-disabled="disable.primaryHref"
                   ng-cloak>md-primary href
        </md-button>
        <button ng-click="disable.primaryHref = !disable.primaryHref;">disable</button>
    </div>
    <div>
        <md-button class="znk outline"
                   md-no-ink
                   ng-disabled="disable.outline"
                   ng-cloak>outline
        </md-button>
        <button ng-click="disable.outline = !disable.outline;">disable</button>
    </div>
</div>
<script src="angular/angular.js"></script>
<script src="angular-animate/angular-animate.js"></script>
<script src="angular-aria/angular-aria.js"></script>
<script src="angular-material/angular-material.js"></script>


<script src="demo.js"></script>
</body>
</html>
