<md-dialog class="purchase-popup base-border-radius" aria-label="Get Zinkerz" translate-namespace="PURCHASE_POPUP">
    <div class="purchase-popup-container">
        <div class="popup-header">
            <div class="raccoon">
                <svg-icon name="purchase-raccoon-logo-icon"></svg-icon>
            </div>
            <div class="close-popup-wrap">
                <svg-icon name="purchase-close-popup" ng-click="vm.close()"></svg-icon>
            </div>
        </div>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>
                    <span translate=".GET_ZINKERZ"></span>
                    <span class="pill pro" translate=".PRO"></span>
                </h2>
                <p translate=".DESCRIPTION"></p>
                <div>
                    <promo-code ng-show="vm.purchaseState === vm.purchaseStateEnum.NONE.enum" user-context-const="vm.studentContextConst" promo-status="vm.promoStatus"
                        user-context="vm.studentContextConst.STUDENT" app-context="vm.appId"></promo-code>
                </div>
                <div class="price" ng-show="!vm.promoStatus.isApproved && vm.purchaseState === vm.purchaseStateEnum.NONE.enum">
                    <del>{{'$' + vm.productPreviousPrice}}</del>
                    <b>{{'$' + vm.productPrice}}</b>
                    <span translate=".SAVE" translate-values='{ percent: vm.productDiscountPercentage}'></span>
                </div>
                <div class="price" ng-show="vm.promoStatus.isApproved">
                    <del>{{'$' + vm.productPreviousPrice}}</del>
                    <b>$0</b>
                    <span translate=".SAVE" translate-values='{ percent: vm.promoCodeDiscountPercentage}'></span>
                </div>
                <div class="action">
                    <purchase-btn purchase-state="vm.purchaseState" ng-if="!vm.promoStatus.isApproved"></purchase-btn>
                    <button class="upgrade-btn-wrapper md-button success action" ng-if="vm.promoStatus.isApproved"
                            ng-click="vm.enablePromoCode(vm.promoStatus.promoKey)"
                        translate=".UPGRADE_NOW" name="submit">
                    </button>
                </div>
                <div class="features-box base-border-radius">
                    <ul>
                        <li>
                            <div class="bullet">
                                <svg-icon class="feature-svg" name="{{'PURCHASE_POPUP.BULLET1ICON' | translate}}"></svg-icon>
                            </div>
                            <span translate=".BULLET1"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon class="feature-svg" name="{{'PURCHASE_POPUP.BULLET2ICON' | translate}}"></svg-icon>
                            </div>
                            <span translate=".BULLET2"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon class="feature-svg" name="{{'PURCHASE_POPUP.BULLET3ICON' | translate}}"></svg-icon>
                            </div>
                            <span translate=".BULLET3"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon class="feature-svg" name="{{'PURCHASE_POPUP.BULLET4ICON' | translate}}"></svg-icon>
                            </div>
                            <span translate=".BULLET4"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon class="feature-svg" name="{{'PURCHASE_POPUP.BULLET5ICON' | translate}}"></svg-icon>
                            </div>
                            <span translate=".BULLET5"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </md-dialog-content>
    </div>
</md-dialog>
