<md-dialog class="purchase-popup base-border-radius" aria-label="Get Zinkerz" translate-namespace="PURCHASE_POPUP">
    <div class="purchase-popup-container">
        <div class="popup-header">
            <div class="raccoon">
                <svg-icon name="raccoon-logo-icon"></svg-icon>
            </div>
            <div class="close-popup-wrap">
                <svg-icon name="close-popup" ng-click="vm.close()"></svg-icon>
            </div>
        </div>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>
                    <span translate=".GET_ZINKERZ"></span>
                    <span class="pill pro" translate=".PRO"></span>
                </h2>
                <p translate=".DESCRIPTION"></p>
                <div class="features-box base-border-radius">
                    <ul>
                        <li>
                            <div class="bullet">
                                <svg-icon name="purchase-popup-bullet-1-icon"></svg-icon>
                            </div>
                            <span translate=".BULLET1"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon name="purchase-popup-bullet-2-icon"></svg-icon>
                            </div>
                            <span translate=".BULLET2"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon name="purchase-popup-bullet-3-icon"></svg-icon>
                            </div>
                            <span translate=".BULLET3"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon name="purchase-popup-bullet-4-icon"></svg-icon>
                            </div>
                            <span translate=".BULLET4"></span>
                        </li>
                        <li>
                            <div class="bullet">
                                <svg-icon name="purchase-popup-bullet-5-icon"></svg-icon>
                            </div>
                            <span translate=".BULLET5"></span>
                        </li>
                    </ul>
                </div>
                <div class="price ng-hide" ng-show="vm.purchaseState === vm.purchaseStateEnum.NONE.enum">
                    <del>{{'$' + vm.productPreviousPrice}}</del>
                    <b>{{'$' + vm.productPrice}}</b>
                    <span translate=".SAVE" translate-values='{ percent: vm.productDiscountPercentage}'></span>
                </div>
                <div class="action">
                    <purchase-btn purchase-state="vm.purchaseState"></purchase-btn>
                </div>
            </div>
        </md-dialog-content>
    </div>
</md-dialog>
