<section translate-namespace="USER_GOALS">
    <div class="goals-schools-wrapper" ng-if="setting.showSchools || goalsSettings.showSchools">
        <div class="title-wrap">
            <div class="edit-title" translate=".DREAM_SCHOOLS"></div>
            <div class="edit-link" ng-click="showSchools()" ng-class="{'active' : showSchoolEdit}">
                <span translate=".EDIT" class="edit"></span>
                <span translate=".CANCEL" class="cancel"></span>
            </div>
        </div>
        <div class="selected-schools-container" ng-switch="userSchools.length">
            <div ng-switch-when="0"
                 class="no-school-selected"
                 translate=".I_DONT_KNOW"></div>
            <div ng-switch-default class="selected-schools">
                <div ng-repeat="school in userSchools" class="school">{{school.text}}</div>
            </div>
        </div>
    </div>
    <div class="subject-wrap">
        <div class="blur-wrap"></div>
        <div class="goals-title" ng-show="setting.recommendedGoalsTitle">
            <div class="recommended-title" translate=".RECOMMENDED_GOALS"></div>
            <div class="info-wrap">
                <md-tooltip md-visible="vm.showTooltip" md-direction="top" class="goals-info md-whiteframe-2dp">
                    <div translate=".GOALS_INFO" class="top-text"></div>
                </md-tooltip>
                <svg-icon class="info-icon" name="user-goals-info-icon" ng-mouseover="vm.showTooltip=true"
                          ng-mouseleave="vm.showTooltip=false"></svg-icon>
            </div>
        </div>
        <div class="subject-goal-wrap">
            <div class="subjects-goal noselect">
                <div class="subject" ng-repeat="subject in goalsSettings.subjects">
                    <div class="icon-wrapper svg-wrapper" ng-class="subject.name+'-bg'">
                        <svg-icon name="{{subject.svgIcon}}"></svg-icon>
                    </div>
                    <span class="subject-title" translate=".{{subject.name | uppercase}}"></span>
                    <goal-select
                        min-score="scoringLimits.subjects.min || scoringLimits.subjects[subject.id].min"
                        max-score="scoringLimits.subjects.max || scoringLimits.subjects[subject.id].max"
                        update-goal-num="goalsSettings.updateGoalNum"
                        ng-model="userGoals[subject.name]"
                        ng-change="calcTotal()">
                    </goal-select>
                </div>
            </div>
        </div>
        <div class="composite-wrap" ng-if="!(setting.hideTotalScore || goalsSettings.hideTotalScore)">
            <div class="composite-score">
                <div class="score-title" translate=".TOTAL_SCORE"></div>
                <div class="score">{{userGoals.totalScore}}</div>
            </div>
        </div>
    </div>
    <div class="save-btn-wrap">
        <md-button aria-label="{{'USER_GOALS.SAVE' | translate}}"
                   autofocus tabindex="1"
                   class="md-primary znk inline-block"
                   ng-click="saveChanges()"
                   ng-class="setting.saveBtn.wrapperClassName">
            <svg-icon name="user-goals-v-icon" class="v-icon" ng-show="showVIcon"></svg-icon>
            <span translate="{{saveTitle}}"></span>
            <svg-icon name="user-goals-dropdown-arrow-icon" class="dropdown-arrow-icon"
                      ng-show="setting.saveBtn.showSaveIcon"></svg-icon>
        </md-button>
    </div>
    <div class="school-selector-wrap animate-if"
         ng-if="showSchoolEdit">
        <school-select events="schoolSelectEvents"
                       get-selected-schools="getSelectedSchools()">
        </school-select>
    </div>
</section>


