<div class="app-admin" layout="row" flex="grow" translate-namespace="ADMIN">
    <div class="app-admin-container base-border-radius base-box-shadow">
        <div class="admin-header">
            <div class="admin-section">
                <div class="admin-details">

                </div>
                <div class="header-nav-wrap">
                    <div class="nav-item" ui-sref=".eslink" ui-sref-active="active" translate=".EDUCATOR_STUDENT_LINK"></div>
                    <div class="nav-item" ui-sref=".emetadata" ui-sref-active="active" translate=".EDUCATORS_PROFILE"></div>

                </div>
            </div>

        </div>
        <ui-view></ui-view>
    </div>
</div>

