question-builder.answer-explanation-open {
    .question-basic-style {
        overflow: auto;
        height: calc(100vh - 570px);

        canvas {
            height: calc(100vh - 570px);
        }
    }
}

znk-exercise {
    &.done-btn-show, &.pager-displayed {
        question-builder:not(.answer-explanation-open) {
            .question-basic-style {
                overflow: auto;
                height: 100%;
            }

            answer-builder {
                height: 100%;
            }
        }
    }
}
