promo-code {
    display: block;
    height: 50px;
    .promo-code-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        .promo-code-title {
            @include dimension(auto, 27px);
            @include text-style(14px, $fontColor12, Lato, $regularFontWeight);
            padding: 0 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 20px;
            background-color: $bgColor23;
        }

        .promo-code-title:focus{
            outline: none;
        }

        .promo-code-title:hover{
            background-color: $bgColor18;
        }

        .promo-code-overlay {
            @include dimension(340px, 85px);
            padding-top: 18px;
            box-sizing: border-box;
            box-shadow: 0 1px 2px 1px $bsColor8;;
            position: absolute;
            background-color: $bgColor1;
            border: 1px solid $borderColor21;
            border-radius: 20px;
            top:40px;
            z-index: 5;
        }

        .promo-code-overlay::before, .promo-code-overlay::after {
            @include dimension(0,0);
            content: '';
            position: absolute;
            top: -9px;
            left: calc(50% - 5px);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $bgColor1;
            z-index: 2;
        }

        .promo-code-overlay::after {
            top: -10px;
            border-bottom: 10px solid $borderColor21;
            z-index: 1;
        }
    }
}
