.promo-code-input-wrapper {

    .input-wrapper {
        @include dimension(290px, 43px);
        margin: 0 auto;
        position: relative;

        .icon-wrapper {
            @include dimension(35px, 34px);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 23px 23px 0;
            background-color: $bgColor5;
            position: absolute;
            top: 1px;
            right: 1px;
            cursor: pointer;

            svg {
                line {
                    stroke: $bgColor1;
                }
            }
            .close-icon, .correct-icon {
                svg {
                    @include dimension(20px, 15px);
                }

                display: none;
            }
        }

        //.arrow-wrapper:active { // todo check why it's not working
        //    background-color: $bgColor55;
        //    opacity: 0.2;
        //}

        .icon-wrapper:hover {
            background-color: $bgColor55;
        }

        .icon-wrapper:focus {
            outline: none;
        }

        input {
            @include dimension(100%, 36px);
            @include text-style(14px, $fontColor3, Lato, $regularFontWeight);
            box-sizing: border-box;
            border-radius: 30px;
            border: 1px solid $borderColor1;
            padding-left: 18px;

            font: {
                weight: $regularFontWeight;
                size: 14px;
            }
            color: $fontColor2;
        }

        @include placeholder() {
            font: {
                size: 14px;
            }
        }

        input:focus {
            outline: none;
        }

        .promo-code-status-text {
            @include text-style(12px, $fontColor2, Lato, $regularFontWeight); // todo -get correct style
            padding-left: 20px;
            margin-top: 6px;
        }

        &.promo-code-accepted {
            .promo-code-status-text {
                color: $fontColor7;
            }

            .icon-wrapper {
                background-color: $bgColor7; // todo - check if correct color
                .correct-icon {
                    display: block
                }
                .arrow-icon {
                    display: none;
                }
            }
        }

        &.promo-code-invalid {
            .promo-code-status-text {
                color: $fontColor17;
            }

            .icon-wrapper {
                background-color: $bgColor32; // todo - check if correct color
                .close-icon {
                    display: block;
                }

                .arrow-icon {
                    display: none;
                }
            }
        }
    }
}
