answer-explanation{
    visibility: hidden;
    will-change: visibility;
    transition: 0.2s;
    opacity: 0;
    &.answer-explanation-visible {
        visibility: visible;
        opacity: 1;
    }

    .answer-explanation-wrapper {
        background: $bgColor40;

        .answer-explanation-close {
            height:14px;
            width: 14px;
            cursor: pointer;
            float:right;
        }

        .answer-explanation-header {
            height: 5px;
            box-shadow: (0px 1px 1px 0.1px $bsColor4);
            z-index: 3;
            background-color: $bgColor5;

            .answer-explanation-btn {
                @include dimension(185px, 28px);
                box-shadow: (0px 4px 1px -2px $bsColor4);
                cursor: pointer;
                position: relative;
                background-color: $bgColor5;
                margin: 0 auto;
                border-radius: 0px 0px 10px 10px;

                .right-corner {
                    @include transform(rotate(25deg));
                    border-radius: 50px 0px 50px 1px;
                    right: -14px;
                    box-shadow: -7px -2px $bsColor5;
                }

                .left-corner {
                    @include transform(rotate(-25deg));
                    border-radius: 0 50px 1px 50px;
                    left: -14px;
                    box-shadow: 7px -2px $bsColor5;
                }

                .corner {
                    @include dimension(12px, 28px);
                    display: inline-block;
                    // margin: 0 auto;
                    position: absolute;
                    bottom: -3px;
                }

                .main-content-wrapper{
                    line-height: 26px;

                    .lamp-icon{
                        margin: {
                            top: 3px;
                            left: 7px;
                        };
                    }

                    .text {
                        vertical-align: top;
                        @include text-style(14px, $fontColor8, Quicksand, $regularFontWeight);
                        margin:{
                            left: 5px;
                        }
                    }
                }
            }
        }

        .answer-explanation-content-wrapper{
            transition: height ease 1s;
            border-top: 5px solid $bgColor5;
            height: 360px;
            overflow: auto;

            &.ng-enter,
            &.ng-leave.ng-leave-active {
                overflow: hidden;
                height: 0;
            }

            &.ng-enter.ng-enter-active,
            &.ng-leave {
                overflow: hidden;
                height: 360px;
            }
        }
    }
}
