<div class="answer-explanation-wrapper" translate-namespace="ANSWER_EXPLANATION">
    <div class="answer-explanation-content-wrapper"
         ng-if="d.toggleWrittenSln">
        <answer-explanation-content class="znk-scrollbar"
                                    on-close="d.close()">
        </answer-explanation-content>
    </div>
    <div class="answer-explanation-header" ng-click="d.toggleAnswer()">
        <div class="answer-explanation-btn">
            <div class="main-content-wrapper">
                <svg-icon class="lamp-icon" name="answer-explanation-lamp-icon"></svg-icon>
                <span class="text" translate=".ANSWER_EXPLANATION"></span>
            </div>
            <div class="right-corner corner"></div>
            <div class="left-corner corner"></div>
        </div>
    </div>
</div>
