<div class="on-board-pager-wrap">
    <div class="on-board-pager">
        <div class="icon-circle" ng-class="{'heart-circle-selected': step === 'welcome'}">
            <svg-icon class="icon" name="on-boarding-heart"></svg-icon>
        </div>
        <div class="divider"></div>
        <div class="icon-circle" ng-class="{'target-circle-selected': step === 'goals'}">
            <svg-icon class="icon" name="on-boarding-target"></svg-icon>
        </div>
        <div class="divider"></div>
        <div class="icon-circle" ng-class="{'hat-circle-selected': step === 'diagnostic'}">
            <svg-icon class="icon" name="on-boarding-hat"></svg-icon>
        </div>
    </div>
</div>
