complete-exercise-header{
    display: block;
    overflow: hidden;
    border:{
        top-right-radius: 15px;
        top-left-radius: 15px;
    }

    .header-container{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: {
            right: 28px;
            left: 28px;
        }
        color: $fontColor1;
        font:{
            family: Lato;
            weight: $regularFontWeight;
            size: 16px;
        }


        .left-part, .center-part, .right-part{
            display: flex;
            align-items: center;
        }

        .left-part{
            overflow: hidden;

            .left-title{
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .right-part{
            .exit{
                cursor: pointer;
            }
        }
    }
}
