sh-viewer{
    .header{
        width: 1060px;
        margin:{
            top: 15px;
            right: auto;
            left: auto;
        }

        .you-are-viewing-text{
            color: $fontColor8;
            font:{
                family: Quicksand;
                weight: $regularFontWeight;
                size: 14px;
            }
            margin: {
                right: 7px;
            }
        }

        .user-connectivity-status{
            @include dimension(10px);
            background-color: $bgColor7;
            border: 1px solid $borderColor21;
            display: inline-block;
            border-radius: 50%;
            margin: {
                right: 15px;
            }
        }

        .user-name{
            color: $fontColor8;
            font:{
                family: Quicksand;
                weight: $boldFontWeight;
                size: 16px;
            }
        }
    }

    .sh-viewer-main-container{
        display: flex;
        justify-content: center;
        margin: {
            top: 25px;
        }

        .none{
            @include background-image-retina("/assets/images/bg/etutoring-empty-sharing", 1060px, 657px);
            @include dimension(1060px, 657px);
            text-align: center;
            .exit-btn {
                color: $fontColor3;
                text-align: right;
                margin: 10px 20px;
                cursor: pointer;
                font:{
                    family: Quicksand;
                    weight: $regularFontWeight;
                    size: 20px;
                }
            }
            .texts-container{
                color: $fontColor3;
                margin: {
                    top: 245px;
                }

                .text1{
                    font:{
                        family: Quicksand;
                        weight: $regularFontWeight;
                        size: 20px;
                    }
                }

                .text2{
                    font:{
                        family: Lato;
                        weight: $lightFontWeight;
                        size: 17px;
                    }
                    margin:{
                        top: 25px;
                    }
                }
            }
        }

        complete-exercise{
            znk-exercise{
                znk-exercise-tool-box{
                    background: $bgColor52;

                    znk-exercise-draw-tool{
                        & > svg-icon{
                            &:not(.active) {
                                .znk-exercise-touche-svg {
                                    .st0, .st1{
                                        stroke: $bgColor3;
                                    }
                                }

                                .znk-exercise-pencil{
                                    path{
                                        fill: $bgColor3;
                                    }
                                }

                                .znk-exercise-eraser{
                                    path, rect, .st1{
                                        fill: $bgColor3;
                                    }
                                }
                            }

                            .znk-exercise-remove{
                                path{
                                    fill: $bgColor3;
                                }
                            }

                            &[name="znk-exercise-touche"]{
                                border-bottom-color: $bgColor53;
                            }
                        }
                    }
                }
            }

            .base-complete-exercise-container{
                height: calc(100vh - 110px);
            }
        }
    }
}
