<div translate-namespace="WORKOUTS_ROADMAP_DIAGNOSTIC_INTRO">
    <div class="diagnostic-workout-pane base-border-radius">
        <div class="diagnostic-workout-title" translate=".DIAGNOSTIC_TEST"></div>
        <diagnostic-intro></diagnostic-intro>
        <button autofocus tabindex="1"
                class="md-button primary md"
                ui-sref="app.workouts.diagnostic({ skipIntro: true })"
                translate="{{::vm.buttonTitle}}"
                aria-label="{{::vm.buttonTitle}}">
        </button>
    </div>
</div>
