<div class="app-workouts" layout="row" flex="grow">
    <div class="workouts-container base-border-radius base-box-shadow" layout="column">
        <workouts-progress workouts="vm.workoutsProgress"
                           ng-disabled="vm.freezeWorkoutProgressComponent"
                           diagnostic="vm.diagnostic"
                           active-workout-order="{{vm.activeWorkoutOrder}}"
                           ng-model="vm.selectedItem">
        </workouts-progress>
        <!--todo-->
        <!--<div class="workout-container"  ng-class="vm.workoutSwitchAnimation">-->
            <!--<ui-view class="intro-ui-view"></ui-view>-->
        <!--</div>-->
    </div>
    <estimated-score-widget></estimated-score-widget>
</div>
