<div translate-namespace="WORKOUTS_ROADMAP_DIAGNOSTIC_INTRO"
     class="workouts-roadmap-diagnostic-intro base-workouts-wrapper">
    <div>
        <div class="diagnostic-workout-title" translate=".DIAGNOSTIC_TEST"></div>
        <diagnostic-intro></diagnostic-intro>
        <md-button  class="md-primary znk"
                    autofocus
                    tabindex="1"
                    ui-sref="app.diagnostic({ skipIntro: true })"
                    aria-label="{{::vm.buttonTitle}}"
                    translate="{{vm.buttonTitle}}"
                    md-no-ink>
        </md-button>
    </div>
</div>
