<div class="workouts-roadmap-intro base-workouts-wrapper"
     translate-namespace="WORKOUTS_ROADMAP_WORKOUT_INTRO">
    <div class="workouts-roadmap-intro-wrapper">
        <div class="title-wrapper">
            <div translate=".TITLE"
                 translate-values="{workoutOrder: vm.workoutOrder}">
            </div>
        </div>
        <svg-icon class="subject-icon"
                  subject-id-to-attr-drv="vm.selectedWorkout.subjectId"
                  context-attr="name"
                  suffix="icon">
        </svg-icon>
        <div class="subject-title"
             translate="SUBJECTS.{{vm.selectedWorkout.subjectId}}">
        </div>
        <div class="change-subject-container"
             ng-class="{
                'rotate': vm.rotate
             }"
             ng-click="vm.rotate = !vm.rotate; vm.changeSubject()">
            <svg-icon name="workouts-roadmap-change-subject"></svg-icon>
            <span class="change-subject-title"
                  translate=".CHANGE_SUBJECT">
            </span>
        </div>
        <div class="how-much-time-title"
             translate=".HOW_MUCH_TIME">
        </div>
        <div class="workout-time-selection-container">
            <div class="avail-time-item-wrapper"
                 ng-repeat="workoutAvailTime in vm.workoutAvailTimes">
                <div class="avail-time-item"
                     ng-click="vm.selectedTime = workoutAvailTime;">
                    <svg-icon class="workout-icon"
                              name="{{vm.getWorkoutIcon(workoutAvailTime);}}">

                    </svg-icon>
                    <span class="avail-time-text">{{workoutAvailTime}}</span>
                    <span class="minutes-text"
                          translate=".MINUTES">
                    </span>
                </div>
            </div>
        </div>
        <div class="start-btn-wrapper">
            <md-button class="md-primary znk"
                       md-no-ink>
                <span translate=".START"></span>
            </md-button>
        </div>
    </div>
</div>
