.diagnostic-loading-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    .loading-title {
        @include text-style(32px, $fontColor3, Quicksand, $boldFontWeight);
        text-align: center;
        z-index: 1;
        margin-bottom: 19px;
    }

    .video-wrapper {
        flex-grow: 1;
        position: relative;
        display: flex;

        video {
            width: 610px;
            align-self: flex-end;
        }

    }
}

