md-dialog.purchase-popup {
    width: 585px;
    overflow: visible;
    background: none;
    border-radius: 15px;

    form {
        overflow: visible;
    }

    .close-popup-wrap {
        @include absolute-position(-35px, -35px);
        height:14px;
        width: 14px;
        padding: 0;
        margin: 10px;
        cursor: pointer;
    }

    .popup-header {
        position: relative;
        height: 40px;
        background-color: $bgColor5;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .raccoon {
            width:75px;
            height:75px;
            border-radius: 50%;
            margin:0 auto;
            position: relative;
            bottom: 17.5px;
            background-color: $bgColor5;

            .raccoon-logo-icon {
                width: 45px;
                height: 45px;
                margin: 0 auto;
                display: block;
                padding-top: 20px;
                * {
                    fill: $bgColor1;
                }
            }

        }

    }

    .md-dialog-content {
        padding:20px 20px 60px;
        background-color: $bgColor1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        h2 {
            @include text-style(25px, $fontColor2, Quicksand, $boldFontWeight, null, null, null, center);
            margin: 15px 0 10px;
            .pro {
                font-size: 20px;
                padding: 2px 7px;
            }
            .pill {
                background-color: #87ca4d;
                color: #ffffff;
                border-radius: 20px;
            }
        }

        p {
            @include text-style(16px, $fontColor3, Lato, $lightFontWeight);
            text-align: center;
        }

        .features-box {
            width: 300px;
            margin: 15px auto;
            padding: 25px 40px;
            background-color: $bgColor27;

            .purchase-popup-bullet-1-icon,
            .purchase-popup-bullet-2-icon,
            .purchase-popup-bullet-3-icon,
            .purchase-popup-bullet-4-icon,
            .purchase-popup-bullet-5-icon {
                width: 26px;
                max-height: 50px;
            }

            ul {
                padding:0;
                margin:0;
                list-style: none;

                li {
                    @include text-style(18px, $fontColor3, Quicksand, normal);
                    line-height: 50px;
                    .bullet {
                        float:left;
                        margin-right: 30px;
                        top: 8px;
                        position: relative;
                    }

                }

            }

        }

        .price {
            @include text-style(16px, $fontColor4, Lato, normal);
            text-align: center;
            margin-bottom: 15px;

            b {
                @include text-style(20px, $fontColor3, Lato, normal);
                margin: 0 10px 0 15px;
            }

        }

        .action {
            .md-button {
                width: 300px;
                margin:0 auto;
                text-transform: none;
                height: 42px;
                align-items: center;
                justify-content: center;
                border-radius: 21px;
                position: relative;
                cursor: pointer;
                @include text-style(20px, $fontColor1, Lato, normal);
                &:not([disabled]).success {
                    background-color: #76b63e;
                }
                .success.drop-shadow {
                    box-shadow: 0px 3px 0px 0px #72ab40;
                }
            }
        }

        .upgraded-container{
            text-align: center;
            @include text-style(16px, $fontColor3, Lato, $regularFontWeight);
            @include flex-middle;

            svg-icon{
                margin: {
                    right: 15px;
                    top: 2px;
                };
            }
        }

        .base-border-radius {
            border-radius: 15px;
        }
    }

}
