<div class="app-performance" layout="vertical" layout-fill translate-namespace="PERFORMANCE" >

    <estimated-score-widget widget-title=".TITLE" is-nav-menu="{{true}}" ng-model="vm.currentSubjectId"></estimated-score-widget>

    <div class="performance-main-container base-border-radius base-box-shadow" subject-id-to-attr-drv="vm.currentSubjectId">
        <div class="time-line-title" translate=".ESTIMATED_SCORE" translate-values="{subjectName: vm.subjectEnum.getValByEnum(vm.currentSubjectId)}"></div>

        <performance-timeline subject-id="{{vm.currentSubjectId}}"> </performance-timeline>

        <div class="subject-overall-performance"  ng-switch="vm.currentSubjectId === vm.subjectEnum.VERBAL.enum">
            <div class="subject-title" translate=".OVERALL_PERFORMANCE" translate-values="{subjectName: vm.subjectEnum.getValByEnum(vm.currentSubjectId)}"></div>

            <div ng-switch-when="false">
                <div class="progress-wrapper">
                    <znk-progress-bar show-progress-bubble="true" progress-width="{{vm.performanceData[vm.currentSubjectId].progress}}"></znk-progress-bar>
                </div>
                <div class="avg-time">
                    <svg-icon class="time-icon" name="clock-icon"></svg-icon>
                    <span translate=".AVERAGE_TIME_SUBJECT" translate-values="{avgTime: vm.performanceData[vm.currentSubjectId].avgTime}"></span>
                </div>
            </div>

            <div ng-switch-when="true" class="progress-wrapper-verbal">
                <div class="progress-wrapper-reading">
                    <div translate=".READING"></div>
                    <div class="progress-wrapper">
                        <znk-progress-bar show-progress-bubble="true" progress-width="{{vm.performanceData[vm.currentSubjectId].writing.progress}}"></znk-progress-bar>
                    </div>
                    <div class="avg-time">
                        <svg-icon class="time-icon" name="clock-icon"></svg-icon>
                        <span translate=".AVERAGE_TIME_SUBJECT" translate-values="{avgTime: vm.performanceData[vm.currentSubjectId].writing.avgTime}"></span>
                    </div>
                </div>

                <div class="progress-wrapper-writing">
                    <div translate=".WRITING"></div>
                    <div class="progress-wrapper">
                        <znk-progress-bar show-progress-bubble="true" progress-width="{{vm.performanceData[vm.currentSubjectId].reading.progress}}"></znk-progress-bar>
                    </div>
                    <div class="avg-time">
                        <svg-icon class="time-icon" name="clock-icon"></svg-icon>
                        <span translate=".AVERAGE_TIME_SUBJECT" translate-values="{avgTime: vm.performanceData[vm.currentSubjectId].reading.avgTime}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="categories-progress-wrapper" ng-if="vm.performanceData[vm.currentSubjectId].categoryArray.length">
            <div class="category-wrapper" subject-id-to-attr-drv="vm.currentSubjectId" ng-repeat="category in vm.performanceData[vm.currentSubjectId].categoryArray track by $index">

                <div class="category-short-name">{{category.shortName}}</div>
                <div class="category-name">{{category.name}}</div>

                <div class="progress-details-wrapper">
                    <div class="level-status-wrapper">
                        <span translate=".CATEGORY_MASTERY" translate-values="{categoryProgress: category.progress}"></span>
                        <span>{{category.masteryLevel | uppercase}}</span>
                    </div>

                    <div class="subject-progress-wrapper">
                        <znk-progress-bar progress-width="{{category.progress}}"></znk-progress-bar>
                        <span class="level-white-line line1"></span>
                        <span class="level-white-line line2"></span>
                        <span class="level-white-line line3"></span>
                        <span class="level-white-line line4"></span>
                    </div>

                    <div class="average-time-wrapper">
                        <svg-icon name="clock-icon"></svg-icon>
                        <span translate=".AVERAGE_TIME_CATEGORY" translate-values="{avgTime: category.avgTime}"></span>
                    </div>
                </div>
            </div>

            <div class="category-wrapper" subject-id-to-attr-drv="vm.currentSubjectId" ng-repeat="(categoryId, categoryObj) in vm.performanceData[vm.currentSubjectId].noDataItems">
                <div class="category-short-name">{{categoryObj.shortName[0]}}</div>
                <div class="category-name">{{categoryObj.name | cutString:20}}</div>
                <div class="no-data-title" translate=".NO_DATA"></div>
            </div>
        </div>

        <div class="performance-overlay-wrapper" ng-if="vm.isDiagnosticCompleted === false || (vm.performanceData && !vm.performanceData[vm.currentSubjectId].categoryArray.length)">
            <div class="performance-main-container-overlay overal-performance base-border-radius">
                <span translate="{{!vm.isDiagnosticCompleted ? '.FINISH_DIAGNOSTIC_OVERLAY' : '.NO_DATA_OVERLAY'}}"></span>
            </div>
        </div>
    </div>
</div>
