<div class="app-performance" layout="vertical" layout-fill translate-namespace="PERFORMANCE">

    <estimated-score-widget widget-title=".TITLE" is-nav-menu="{{true}}"
                            ng-model="vm.currentSubjectId"></estimated-score-widget>

    <!--<div class="performance-main-container base-border-radius base-box-shadow" subject-id-to-attr-drv="vm.currentSubjectId">-->
    <!--<div class="time-line-title" translate=".ESTIMATED_SCORE" translate-values="{subjectName: vm.subjectEnum.getValByEnum(vm.currentSubjectId)}"></div>-->

    <performance-timeline subject-id="{{vm.currentSubjectId}}"></performance-timeline>

    <div>{{vm.subjectsMap[vm.currentSubjectId].name}}</div>
</div>
