.workouts-roadmap-intro{
    font:{
        family: Quicksand;
    }
    .title{
        font:{
            weight: $boldFontWeight;
            size: 21px;
        }
    }

    .subject-icon{

    }

    .subject-title{
        font:{
            weight: $regularFontWeight;
            size: 18px;
        }
    }

    .change-subject-container {
        cursor: pointer;

        &.rotate {
            svg-icon {
                svg {
                    animation: rotateAnimation 0.9s infinite linear;
                }
            }
        }

        .change-subject-title{
            font:{
                family: Lato;
                weight: $lightFontWeight;
                size: 12px;
            }
        }
    }

    .how-much-time-title{
        font:{
            family: Lato;
            weight: $regularFontWeight;
            size: 18px;
        }
    }

}
