.workouts-roadmap-intro {
    .workouts-roadmap-intro-wrapper {
        font: {
            family: Quicksand;
        }

        .title-wrapper {
            margin: {
                top: 26px;
            }
        ;
            font: {
                weight: $boldFontWeight;
                size: 21px;
            }
        }

        .subject-icon {
            height: 105px;
        }

        .subject-title {
            font: {
                weight: $regularFontWeight;
                size: 18px;
            }
            text-transform: capitalize;
        }

        .change-subject-container {
            cursor: pointer;
            margin: {
                top: 5px;
            }
            display: inline-block;

            &.rotate {
                svg-icon {
                    svg {
                        animation: rotateAnimation 0.9s infinite linear;
                    }
                }
            }

            .change-subject-title {
                font: {
                    family: Lato;
                    weight: $lightFontWeight;
                    size: 12px;
                }
            }
        }

        .how-much-time-title {
            margin: {
                top: 28px;
            }

            font: {
                family: Lato;
                weight: $regularFontWeight;
                size: 18px;
            }
        }

        .workout-time-selection-container {
            display: flex;
            justify-content: center;
            margin: {
                top: 33px;
            }

            .avail-time-item-wrapper {
                margin: {
                    right: 15px;
                }
            ;

                &:last-child {
                    margin: {
                        right: 0;
                    }
                ;
                }

                .avail-time-item {
                    border-radius: 6px;
                    border: 2px solid $borderColor13;
                    box-sizing: border-box;
                    @include dimension(160px, 80px);
                    margin: {
                        right: auto;
                        left: auto;
                    }
                ;
                    font: {
                        family: Lato;
                        weight: $regularFontWeight;
                    }
                    color: $fontColor12;
                    line-height: 73px;
                    position: relative;
                    cursor: pointer;

                    &.active, &:hover {
                        border-color: $borderColor4;
                        color: $fontColor6;

                        svg-icon {
                            &[name="workouts-progress-tutorial-icon"] {
                                .tips-n-tricks-svg {
                                    path {
                                        fill: $bgColor5;
                                    }

                                    .st0 {
                                        stroke: $bgColor5;
                                    }

                                    .st1 {
                                        stroke: $bgColor5;
                                    }

                                    .st2 {
                                        stroke: $bgColor5;
                                    }
                                }
                            }

                            &[name="workouts-progress-practice-icon"] {
                                .practice-icon-svg {
                                    .st0 {
                                        stroke: $bgColor5;
                                    }

                                    .st1 {
                                        stroke: $bgColor5;
                                    }

                                    .st2 {
                                        stroke: $bgColor5;
                                    }
                                }
                            }

                            &[name="workouts-progress-game-icon"] {
                                .workouts-progress-game-svg {
                                    .st0 {
                                        stroke: $bgColor5;
                                    }

                                    .st1 {
                                        stroke: $bgColor5;
                                        fill: $bgColor5;
                                    }

                                    .st2 {
                                        fill: $bgColor5;
                                        stroke: $bgColor5;
                                    }
                                }
                            }

                            &[name="workouts-progress-drill-icon"] {
                                .workouts-progress-drill-svg {
                                    .st0 {
                                        stroke: $bgColor5;
                                    }

                                    .st1 {
                                        stroke: $bgColor5;
                                    }

                                    .st2 {
                                        stroke: $bgColor5;
                                    }

                                    .st3 {
                                        stroke: $bgColor5;
                                    }

                                    .st4 {
                                        stroke: $bgColor5;
                                    }
                                }
                            }
                        }
                    }

                    .workout-icon {
                        @include dimension(26px, 26px);
                        background: white;
                        position: absolute;
                        top: -13px;
                        left: calc(50% - 13px);

                        &[name="workouts-progress-drill-icon"] {
                            svg {
                                position: relative;
                                top: -1px;
                            }
                        }
                    }

                    .avail-time-text {
                        font: {
                            size: 26px;
                        }
                    }

                    .minutes-text {
                        font: {
                            size: 18px;
                        }
                    }
                }
            }
        }

        .start-btn-wrapper {
            margin: {
                top: 50px;
            }
        }
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
