on-boarding-bar {
    position: absolute;
    bottom: -70px;
    width: 100%;

    .on-board-pager-wrap {

        .on-board-pager {
            .icon-circle {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 2px solid $bgColor7;
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                justify-content: center;
                -webkit-justify-content: center;
                .icon {
                    width: 30px;
                    margin: auto;
                    display: block;               
                    * {
                        fill: $bgColor7;
                    }

                }
                &.heart-circle-selected, &.target-circle-selected, &.hat-circle-selected {
                    background-color: $bgColor7;
                    .icon {
                        * {
                            fill: white;
                        }
                    }
                }
            }

            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            background-color: $bgColor1;
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 40px;
            padding: 5px;

            .divider {
                width: 21px;
                border-top: 1px solid $bgColor7;
                height: 1px;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}
