school-select{
    .school-selector{
        .selector{
            .tag-input-wrap{
                width: 560px;
                position: relative;
                margin: 0 auto;

                tags-input{
                    display: inline-block;
                    width: 100%;

                    input.input{
                        min-width: 193px;
                        font-size: 12px;
                        font-style: italic;
                        background-color: transparent;
                        font-family: Lato;
                    }
                }

                svg-icon[name="arrow-icon"] {
                    width: 48px;
                    cursor: pointer;
                    svg {
                        height: 44px;
                    }
                }

                [disabled="disabled"] *{
                    width: 48px;
                    fill: $bgColor8;
                    cursor: default;
                }

                .search-icon-container {
                    position: absolute;
                    z-index: 1;
                    top: 18px;
                    left: 14px;

                    svg-icon.search-icon{
                        width: 17px;
                    }
                    svg-icon.search-icon *{
                        stroke: $bgColor23;
                    }
                }

                .dropdown-arrow-container{
                    position: absolute;
                    z-index: 1;
                    top: 18px;
                    right: 20px;

                    svg-icon.dropdown-arrow-icon{
                        width: 20px;
                        cursor: pointer;
                    }
                    svg-icon.dropdown-arrow-icon *{
                        stroke: $bgColor23;
                    }
                }

                .select-btn{
                    background: transparent;
                    border: none;
                    padding: 0;

                    &.go-btn{
                        position: absolute;
                        top: 3px;
                        right: -60px;
                    }
                }
            }
        }
    }
}
