<ng-switch on="vm.purchaseState">

    <div ng-switch-when="pending">
        <div class="upgraded flex-container">
            <div class="flex-item">
                <div class="pending">
                    <md-progress-circular md-mode="indeterminate" md-diameter="45"></md-progress-circular>
                    <span class="text" translate=".UPGRADE_PENDING"></span>
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="pro">
        <div class="upgraded flex-container">
            <div class="flex-item">
                <div class="icon-wrapper completed">
                    <svg-icon name="purchase-check-mark"></svg-icon>
                </div>
                <span class="text" translate=".UPGRADED_ON" translate-values="{upgradeDate: vm.upgradeDate}"></span>
            </div>
        </div>
    </div>

    <div ng-switch-when="none">
        <div class="upgrade-btn-wrapper">
            <button class="md-button success drop-shadow inline-block"
                    ng-click="vm.purchaseZinkerzPro(); vm.saveAnalytics()"
                    translate=".UPGRADE_NOW"
                    name="submit">
            </button>
        </div>
    </div>
</ng-switch>
