<ng-switch on="vm.purchaseState">

    <div ng-switch-when="pending">
        <div class="upgraded flex-container">
            <div class="flex-item">
                <div class="pending">
                    <md-progress-circular md-mode="indeterminate" md-diameter="45"></md-progress-circular>
                    <span class="text" translate=".UPGRADE_PENDING"></span>
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="pro">
        <div class="upgraded flex-container">
            <div class="flex-item">
                <div class="icon-wrapper completed">
                    <svg-icon name="purchase-check-mark"></svg-icon>
                </div>
                <span class="text" translate=".UPGRADED_ON" translate-values="{upgradeDate: vm.upgradeDate}"></span>
            </div>
        </div>
    </div>

    <div ng-switch-when="none">
        <ng-switch on="vm.showForm">
            <div ng-switch-when="true">
                <form
                    action="{{::vm.formAction}}"
                    method="post"
                    target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" ng-value="::vm.hostedButtonId">
                    <input type="hidden" name="custom" ng-value="::vm.custom">
                    <input type="hidden" name="return" ng-value="::vm.returnUrlSuccess">
                    <input type="hidden" name="cancel_return" ng-value="::vm.returnUrlFailed">
                    <input type="hidden" name="landing_page" value="billing">
                    <input type="hidden" name="email" ng-value="::vm.userEmail">
                    <div class="upgrade-btn-wrapper">
                        <button class="md-button success drop-shadow inline-block"
                                ng-click="vm.saveAnalytics()"
                                translate=".UPGRADE_NOW"
                                name="submit">
                        </button>
                    </div>
                    <!--<input type="image" src="{{vm.btnImgSrc}}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                    <img border="0" ng-src="{{::vm.pixelGifSrc}}" width="1" height="1" alt="{{vm.translate('PURCHASE_POPUP.PAYPAL_IMG_ALT')}}" >
                </form>
            </div>
            <div class="upgrade-btn-wrapper" ng-switch-default>
                <button class="md-button success drop-shadow"
                        ng-click="vm.showPurchaseError()"
                        translate=".UPGRADE_NOW"
                        name="submit">
                </button>
            </div>
        </ng-switch>
    </div>
</ng-switch>
