[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.translate-cloak{
    display: none !important;
}

.base-border-radius{
    border-radius: $baseBorderRadiusCorner;
}

.base-box-shadow {
    box-shadow: 0 3px 7px 0 $bsColor3;
}
