.diagnostic-summary-wrapper {
    padding-top: 20px;

    .title {
        text-align: center;
        margin-bottom: 20px;
        div {
            @include text-style(20px, $fontColor3, Quicksand, $regularFontWeight);
            margin-bottom: 35px;
        }

        span {
            @include text-style(22px, $fontColor3, Quicksand, $blackFontWeight);
        }
    }

    .doughnuts-container {
        @include dimension(810px, 250px);
        margin: 0 auto;

        .all-doughnuts-wrapper {
            display: inline-block;
            margin: {
                left: 9px;
                right: 9px;
            }
            .doughnut-wrapper {
                @include flex-middle;
                @include flex-direction(column);
                border-radius: 13px;
                background-color: $bgColor32;
                height: 250px;
                width: 183px;

                .subject-name {
                    @include text-style(15px, $fontColor4, Lato, $regularFontWeight);
                    position: relative;
                    bottom: 10px;
                }

                .znk-doughnut {
                    position: relative;
                    z-index: 2;
                    width: 220px;
                    height: 110px;

                    .goal-point {
                        @include dimension(10px, 10px);
                        position: absolute;
                        background-color: $bgColor33;
                        border-radius: 50px;
                        -webkit-animation: goal-point 2s;
                    }

                    @-webkit-keyframes goal-point {
                        from {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                        }
                    }

                    .goal-point-bg {
                        @include dimension(6px, 6px);
                        position: absolute;
                        left: 2px;
                        top: 2px;
                        background-color: $bgColor1;
                        border-radius: 50px;
                    }

                    .goal-point-subject-color {
                        @include dimension(4px, 4px);
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        border-radius: 50px;
                    }
                    .white-bg-doughnut-score {
                        @include dimension(100px, 100px);
                        @include flex-middle;
                        @include text-style(24px, $fontColor3, Quicksand, $boldFontWeight);
                        position: absolute;
                        z-index: -1;
                        border-radius: 100px;
                        top: 5px;
                        left: 60px;
                        background-color: $bgColor1;
                    }
                }

                .your-goal-wrapper {
                    margin-top: 20px;
                    .score-goal {
                        @include text-style(15px, $fontColor4, Quicksand, $regularFontWeight);
                    }

                    span {
                        @include text-style(15px, $fontColor4, Quicksand, $boldFontWeight);
                        margin-left: 7px;
                    }
                }
            }
        }
    }

    .footer-text {
        @include text-style(18px, $fontColor3, Lato, $lightFontWeight);
        text-align: center;
        width: 630px;
        margin: {
            left: auto;
            right: auto;
        }
        line-height: 25px;
    }

    .start-button.md-button.primary {
        margin: {
            left: auto;
            right: auto;
            top: 35px;
        }
    }
}


