.workouts-intro-wrapper {
    @include dimension(575px, 523px);
    background-color: $bgColor1;
    border: 1px solid $bgColor33;
    position: relative;
    margin: {
        top: 23px;
        right: auto;
        left: auto;
    }

    .title-wrapper {
        margin-top: 25px;
        text-align: center;
        .workout-title {
            @include text-style(21px, $fontColor3, Quicksand, $semiBoldFontWeight, null, capitalize);
            display: inline-block;

            &.workout-order {
                margin-left: 5px;
            }
        }

    }

    .icon-settings {
        margin: {
            left: auto;
            right: auto;
            top: 7px;
        }
        width: 95px;
    }

    .icon-settings {
        svg * {
            stroke: $fontColor2;
        }
    }

    .icon-settings {
        svg * {
            stroke: $fontColor2;
        }
    }

    //.reading-icon, .reading-pattern {
    //    svg {
    //        path {
    //            fill: $readingColor;
    //        }
    //        height: 95px;
    //    }
    //}
    //
    //.math-icon, .math-pattern {
    //    svg {
    //        path {
    //            fill: $mathColor;
    //        }
    //        height: 95px;
    //    }
    //}
    //
    //.english-icon, .english-pattern {
    //    svg {
    //        path {
    //            fill: $englishColor;
    //        }
    //        height: 95px;
    //    }
    //}
    //
    //.science-icon, .science-pattern {
    //    svg {
    //        path, circle, line {
    //            stroke: $scienceColor;
    //            fill: $bgColor2;
    //        }
    //        g {
    //            path:nth-child(4) {
    //                fill: $scienceColor;
    //            }
    //        }
    //        height: 95px;
    //    }
    //}
    //
    //.writing-icon, .writing-pattern {
    //    svg {
    //        path {
    //            fill: $writingColor;
    //        }
    //        height: 95px;
    //    }
    //}

    .subject-name {
        @include text-style(18px, $fontColor3, Quicksand, $regularFontWeight, null, capitalize);
        text-align: center;
    }

    .change-subject {
        @include text-style(14px, $fontColor11, Lato, $extraLightFontWeight);
        cursor: pointer;
        width: 120px;
        margin: 20px auto 0 auto;
        text-align: center;
        svg-icon {
            display: inline-block;
            float: left;
            svg {
                float: left;
                width: 15px;
                margin-top: 4px;
            }
        }
    }

    .change-subject {
        &.rotate {
            svg-icon {
                svg {
                    animation: rotateAnimation 0.9s infinite linear;
                }
            }
        }
    }

    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .how-much-time {
        @include text-style(18px, $fontColor3, Lato, $regularFontWeight);
        margin-top: 30px;
        text-align: center;
    }

    .summary {
        margin-top: 42px;
        text-align: center;
        .answers-count {
            @include text-style(30px, $fontColor11, Quicksand, $regularFontWeight);
        }
        .category-name {
            @include text-style(14px, $fontColor3, Lato, $lightFontWeight);
            margin-top: 10px;
        }
    }

    .minutes-buttons-container {
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 530px;
        margin: {
            top: 40px;
            left: auto;
            right: auto;
        }

        .minute-button-wrapper {
            @include flex-middle;
            @include dimension(160px, 75px);
            position: relative;
            border: 2px solid $bgColor31;
            border-radius: 6px;
            cursor: pointer;

            &:hover, &.active {
                border: 2px solid $bgColor5;

                .minutes-number,
                .minutes-text {
                    color: $fontColor6;
                }

                .icon-wrapper {
                    svg-icon {
                        svg {
                            * {
                                stroke: $bgColor5;
                            }

                            &.mini-challenge-icon {
                                path, .st1 {
                                    fill: $bgColor5;
                                }
                            }
                        }
                    }
                }
            }

            .minutes-text {
                @include text-style(18px, $fontColor12, Lato, $regularFontWeight);
            }

            .minutes-number {
                @include text-style(22px, $fontColor12, Lato, $regularFontWeight);
                margin: {
                    right: 4px;
                    bottom: 3px;
                }
            }

            .icon-wrapper {
                @include flex-middle;
                @include dimension(30px, 30px);
                @include transform(translateX(-50%));

                position: absolute;
                left: 50%;
                bottom: 61px;
                background-color: $bgColor1;

                svg-icon {
                    width: 13px;

                    svg {
                        display: block;

                        path, line, circle {
                            stroke: $bgColor31;
                        }
                    }

                    &.drills {
                        width: 20px;
                    }

                    &[name="mini-challenge"] {
                        path, .st1 {
                            fill: $bgColor31;
                        }
                    }
                }
            }

            &[disabled="disabled"] {
                opacity: .5;
                &:hover {
                    border-color: $bgColor31;
                }
                cursor: inherit;

                .icon-wrapper {
                    display: none;
                }

                .minutes-number {
                    color: $fontColor12;
                }

                .minutes-text {
                    color: $fontColor12;
                }
            }
        }
    }

    .subject-instructions {
        @include text-style(14px, $fontColor11, Lato, $lightFontWeight);
        text-align: center;
        margin-top: 10px;
        .title {
            font-weight: $regularFontWeight;
        }
    }

    .start-button {
        margin: {
            top: 42px;
            left: auto;
            right: auto
        }
    }

    .upgrade-btn {
        text-transform: uppercase;
        margin-top: 92px;
    }

    .lock-previous-wrap,
    .lock-workout-wrap,
    .lock-diagnostic-msg,
    .lock-social-wrap {
        display: none;
    }

    &.lock-diagnostic,
    &.lock-workout,
    &.lock-previous,
    &.lock-social {
        .blur-wrapper {
            /*filter: blur(1px);
            opacity: 0.1;*/
            display: none;
        }
    }

    &.lock-diagnostic {
        background-image: url('./images/workouts-intro-locked-bg.png');

        .lock-previous-wrap,
        .lock-workout-wrap,
        .lock-social-wrap {
            display: none;
        }
        .lock-diagnostic-msg {
            @include text-style(18px, $fontColor3, Quicksand, $regularFontWeight);
            text-align: center;
            position: absolute;
            top: 16%;
            padding: 0 22px;
            display: block;
        }
    }

    &.lock-workout {
        .lock-previous-wrap,
        .lock-diagnostic-msg,
        .lock-social-wrap {
            display: none;
        }
        .lock-workout-wrap {
            display: block;
            text-align: center;
            background-image: url('./images/workouts-intro-locked-bg.png');
            height: 400px;

            .locked-icon {
                margin-top: 35px;
                margin-bottom: 45px;
                width: 38px;
            }

            .score-goal {
                @include text-style(18px, $fontColor3, Lato, $lightFontWeight);
                margin-bottom: 45px;
                margin-right: 35px;
                margin-left: 35px;
                line-height: 23px;

                .points {
                    font-weight: $regularFontWeight;
                }
            }

            .research {
                @include text-style(18px, $fontColor3, Quicksand, $lightFontWeight);
                margin: 0 70px;
                line-height: 28px;
            }

            .get-pro {
                @include text-style(18px, $fontColor3, Lato, $lightFontWeight);
                margin-top: 50px;
                margin-bottom: 30px;
            }
        }
    }

    &.lock-previous {
        .lock-workout-wrap,
        .lock-diagnostic-msg,
        .lock-social-wrap {
            display: none;
        }
        .lock-previous-wrap {
            display: block;
            background-image: url('./images/workouts-intro-locked-bg.png');
            height: 460px;

            .lock-previous-inner {
                @include text-style(18px, $fontColor3, Quicksand, $regularFontWeight);
                text-align: center;
                position: absolute;
                width: 100%;
                z-index: 10;

                .previous-icon {
                    height: auto;
                    margin: {
                        top: 30px;
                        bottom: 30px;
                    }
                }
            }
        }
    }

    &.lock-social {
        .lock-previous-wrap,
        .lock-diagnostic-msg,
        .lock-workout-wrap {
            display: none;
        }
        .icon-settings {
            height: auto;
        }
        .lock-social-wrap {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-image: url('./images/workouts-intro-locked-bg.png');

            .locked-icon {
                margin-top: 35px;
                margin-bottom: 25px;
                width: 38px;
            }

            .social-text {
                @include text-style(21px, $fontColor3, Quicksand, $semiBoldFontWeight);
            }

            .social-tell-friends {
                margin-top: 33px;
            }

            social-share-btn-drv {
                margin-top:20px;
                .social-share-wrapper {
                    position: relative;
                    background-color: $bgColor20;
                    height: 30px;
                    width: 135px;
                    transition: 0.2s;
                    span {
                        color: $bgColor1;
                        text-transform: uppercase;
                    }
                    .share-icon {
                        fill: $bgColor1;
                        margin: 0;
                        position: absolute;
                        top: 7px;
                        left: 16px;
                    }
                    .share-button {
                        &.sharer-0 {
                            right: -23px;
                        }
                    }
                    &:hover {
                        background-color: $bgColor1;
                        span {
                            color: $bgColor20;
                        }
                        .share-icon {
                            fill: $bgColor20;
                        }
                    }
                }

            }

            .social-tell-friends, .score-goal {
                @include text-style(18px, $fontColor3, Lato, $lightFontWeight);
            }

            .score-goal {
                margin: 82.5px 35px 0 35px;
                line-height: 23px;
            }

            .start-button {
              &.upgrade-btn {
                  background-color: $bgColor1;
                  color: $bgColor20;
                  border: 1px solid $bgColor20;
                  transition: 0.2s;
                  text-transform: capitalize;
                  margin-top: 37px;
                  &:hover {
                      background-color: $bgColor20;
                      color: $bgColor1;
                  }
              }
            }
        }
    }

    .icon-settings {
        height: 95px;

        &.no-stroke:not(.science-icon) {
            svg * {
                stroke: transparent;
            }
        }
    }
}
