@import './src/scss/imports/variables',
        './src/scss/imports/colors',
        './bower_components/angular-material/angular-material.scss',
        './bower_components/infra/dist/mixins/mixins',
        './src/scss/imports/angular-material-override',
        './scss/onboarding-bar-directive';

/**
*  FONTS
*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(http://fonts.gstatic.com/s/quicksand/v5/32nyIRHyCu6iqEka_hbKsugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



.on-board {

    /**
    *  MAIN COLORS
    */
    .math-bc {
        border-color: $mathColor;
    }
    .math-bg {
        background-color: $mathColor;
    }

    .verbal-bc {
        border-color: $verbalColor;
    }
    .verbal-bg {
        background-color: $verbalColor;
    }

    .essay-bc {
        border-color: $essayColor;
    }
    .essay-bg {
        background-color: $essayColor;
    }

     /**
     *  SVG
     */
    .svg-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .clearfix:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }

    .main-title {
        @include text-style(32px, $fontColor3,Quicksand,$semiBoldFontWeight);
        text-align: center;
        margin-top: 20px;
    }

    .inline-block {
        display: inline-block;
    }

    .base-border-radius {
        border: {
            radius: $baseBorderRadiusCorner;
        }
    }

    .base-box-shadow {
        box-shadow: 0 3px 7px 0 $bsColor3;
    }

    .smile-raccoon {
        @include full-background-image-retina('./images/smile-raccoon', 293px, 373px);
    }

    position: relative;

    .container {
        min-height: 535px;
        background-color: $bgColor3;
        box-sizing: border-box;
        position: relative;

        .step{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .welcome{
                .main-title{
                    margin-bottom: 50px;
                }
                .sub-title{
                    @include text-style(22px, $fontColor2, Lato, $demiFontWeight);
                    margin-bottom: 8px;
                    div{
                        display: inline-block;
                    }
                    span{
                        color: $fontColor6;
                        font-weight: $regularFontWeight;
                        margin-left: 4px;
                    }
                }

                .btn-wrap{
                    margin-top: 105px;
                    text-align: center;

                    .continue-title {
                        vertical-align: top;
                        position: relative;
                        top: 3px;
                    }

                    .md-button {
                        width: 234px;
                        height: 50px;
                        border-radius: 30px;
                        @include text-style(21px, $fontColor1, Lato, $regularFontWeight);
                        .dropdown-arrow-icon{
                            svg {
                                width: 16px;
                                transform: rotate(-90deg);
                                polyline {
                                    stroke: $bgColor3;
                                }
                            }
                        }
                    }
                }
            }

            .goals{
                .sub-title{
                    @include text-style(24px, $fontColor2, Quicksand, $regularFontWeight);
                    text-align: center;
                    margin-top: 32px;
                    margin-bottom: 10px;
                }

                .light-title{
                    @include text-style(12px, $fontColor4, Lato, $lightFontWeight);
                    text-align: center;
                    margin-top: 15px;
                    cursor: pointer;
                    outline: none;
                }
                .select-schools-title{
                    @include text-style(16px, $fontColor2, Lato, $lightFontWeight);
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            .bg-wrap{
                position: absolute;
                bottom: 0;
                left: calc(50% - 180px);
                .thinking-raccoon {
                    display:block;
                }
            }

            &.make-padding{
                flex-direction: row;
                padding: {
                    top: 61px;
                    bottom: 61px;
                }
            }

            &.diagnostic{
                .diagnostic-title{
                    @include text-style(32px, $fontColor3,Quicksand,$semiBoldFontWeight);
                    text-align: center;
                    margin-top: 20px;
                }

                .diagnostic-sub-title{
                    @include text-style(16px, $fontColor3,Lato,$lightFontWeight);
                    text-align: center;
                    margin-top: 15px;
                }

                .btn-wrap{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin:{
                        top: 52px;
                        right: 20px;
                    }

                    button{
                        display: inline-block;
                    }
                }

                diagnostic-intro {
                    .section-question {
                        margin-top: -25px;
                    }
                }
            }
        }
    }
}
