.lesson-rate {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rating {
        margin-top: 15px;
        display: flex;
        svg-icon.star-icon {
            outline: none;
            svg {
                width: 30px;
                fill: $mercury;
            }
            &.hover svg {
                fill: $dolly;
            }
            &.active svg {
                fill: $gold;
            }
        }
    }

    .note-txt {
        width: 90%;
        height: 100px;
        resize: none;
        overflow: auto;
        margin-top: 15px;
    }
}
