<div class="lesson-rate" translate-namespace="LESSON_NOTES.LESSON_NOTES_POPUP.RATING">
  <div class="lato-18-n znk-uppercase" translate=".TITLE"></div>
  <div class="rating">
    <svg-icon class="star-icon" name="znkLessonNotes-star" ng-repeat="star in vm.starArr"
         ng-mouseenter="vm.onHover(star, true)" ng-mouseleave="vm.onHover(star, false)" title="{{star.title}}"
         ng-class="{'active': star.active, 'hover': star.hover}" ng-click="vm.ratingChanged(star.value)">
    </svg-icon>
  </div>

  <textarea class="lato-14-n note-txt" ng-model="vm.lesson.lessonNotes.ratingFeedback"
            ng-if="vm.lesson.lessonNotes.rating <= vm.MIN_STATR_FOR_RATING_FEEDBACK"></textarea>
</div>
