/*colors*/

$transparent: transparent;
$white: #ffffff;
$black: #000000;
$bondiBlue: #0a9bad;
$kimberly: #797ea8;
$kimberlyDark: #6a6f95;
$mantis: #87ca4d;
$bittersweet: #ff6766;
$gimblet: #bcae6b;
$candlelight: #f9d41b;
$arleyCorn: #a6995e;
$seagull: #75cbe8;
$emperor: #4f4d4d;
$rollingStone: #757a83;
$manatee: #95959C;
$silverChalice: #acacac;
$nobel: #b7b7b7;
$silver: #c2c2c2;
$mercury: #e1e1e1;
$gallery: #ebebeb;
$alabaster: #f7f7f7;
$concreteSolid: #f2f2f2;
$bonJour: #E7E3E3;
$dustyGray: #9A9797;
$hintOfRed: #fbfafb;
$alto: #dfdfdf;
$athensGray: #efeff5;
$iceberg: #e0f3f5;
$bermuda: #80cdd6;
$downy: #78CAD3;
$treePoppy: #FF931E;
$eastSide: #AF89D2;
$cornflowerBlue: #333333;
$cararra: #EBEBE4;
$gold: #FFD700;
$dolly: #FFED85;

/*Buttons States Colors*/

$blueChill: #0a8999;
$sushi: #76B63E;
$blueLagoon: #037684;
$oliveDrab: #619E2D;
$halfBaked: #81c4cc;
$feijoa: #AED88A;
$catskillWhite: #e2f0f2;
$botticelli: #c7e0e3;

/*Topics Colors*/

$mathTopic: #7a7fa9;
$englishTopic: #bdaf6b;

/* Services Colors */

$satColor: $bondiBlue;
$toeflColor: $treePoppy;
$actColor: $mantis;
$satsmColor: $eastSide;

/* Opacity Colors */
$opacityWhite: rgba(255, 255, 255, 0.8);

$satOpacity: rgba(10, 155, 173, 0.27);
$toeflOpacity: rgba(255, 147, 30, 0.27);
$actOpacity: rgba(135, 202, 77, 0.27);
$satsmOpacity: rgba(175, 137, 210, 0.27);

/* Input Colors */
$disabled: $cararra;

