
.lesson-summary-notes {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $hintOfRed;

    .znk-uppercase {
        margin: 20px;
    }

    .lato-16-n {
        text-align: left;
    }

    .note-txt {
        width: 90%;
        height: 280px;
        resize: none;
        overflow: auto;
    }
    .email-section {
        width: 90%;
        margin-top: 20px;
        .checkbox-group {
            margin: 20px 0;
            display: flex;
            .input-wrap {
                display: flex;
                align-items: center;
                margin-right: 40px;

                input[type="checkbox"] {
                    font-size: 20px;
                    color: #4f4d4d;
                    font-family: Lato;
                    font-weight: 100;
                    height: 20px;
                    width: 20px;
                    border: 1px solid #9A9797;
                    outline: 0;
                }
                label {
                    text-transform: lowercase;
                    margin-left: 5px;
                    font-size: 14px;
                    color: #4f4d4d;
                    font-family: Lato;
                    font-weight: 100;
                }
            }
        }
        .button-wrapper {
            display: flex;
            align-items: center;
            .text-muted {
                font-family: lato;
                margin-left: 20px;
                opacity: 0.7;
                font-style: italic;
                font-size: 14px;
            }
            margin-bottom: 20px;
        }

    }
}
