<div class="answer-explanation-wrapper" translate-namespace="ANSWER_EXPLANATION">
    <div class="answer-explanation-header" ng-click="d.toggleWrittenSln = !d.toggleWrittenSln; d.saveAnalytics();">
        <div class="answer-explanation-btn">
            <svg-icon class="lamp-icon" name="lamp-icon"></svg-icon>
            <span class="text" translate=".ANSWER_EXPLANATION"></span>
            <div class="right-corner corner"></div>
            <div class="left-corner corner"></div>
        </div>
    </div>
</div>
