<div class="exercise-container base-border-radius">
    <znk-exercise-header subject-id="baseZnkExerciseCtrl.exercise.subjectId"
                         options="{
                            showQuit: true,
                            showNumSlide: true,
                            showDate: vm.showTimer,
                            reviewMode: vm.isComplete
                         }"
                         total-slide-num="{{baseZnkExerciseCtrl.numberOfQuestions}}"
                         ng-model="baseZnkExerciseCtrl.currentIndex"
                         side-text="{{vm.headerTitle}}"
                         timer-data="baseZnkExerciseCtrl.timerData"
                         on-clicked-quit="vm.onHeaderQuit()"
                         icon-name="{{vm.iconName}}"
                         icon-click-handler="vm.iconClickHandler()">
    </znk-exercise-header>
<!--    <znk-progress-linear-exercise ng-if="vm.showTimer"
                                  start-time="baseZnkExerciseCtrl.startTime"
                                  max-time="baseZnkExerciseCtrl.maxTime"
                                  on-finish-time="baseZnkExerciseCtrl.onFinishTime()"
                                  on-change-time="baseZnkExerciseCtrl.onChangeTime(passedTime)">
    </znk-progress-linear-exercise>-->
    <znk-exercise questions="baseZnkExerciseCtrl.exercise.questions"
                  ng-model="baseZnkExerciseCtrl.resultsData.questionResults"
                  settings="baseZnkExerciseCtrl.settings"
                  actions="baseZnkExerciseCtrl.actions">
    </znk-exercise>
    <!--<div ng-if="vm.showIntro" class="workout-roadmap-tutorial-intro"-->
         <!--ng-include-->
         <!--src="'app/tutorials/templates/tutorialIntro.template.html'">-->
    <!--</div>-->
</div>
